#scrollTarget.col-lg-9 .no-pad > .alert {
    width: 100%;
}

#backlogRequests {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 100%;
}

#backlogRequests .wrapped {
    height: calc(100% - 50px);
    padding-top: 0;
    top: 70px;
    z-index: 100;
}

#backlogRequests li.limit {
    color: #a94442;
}

#backlogRequests li.limit .badge {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#backlogRequests h3 {
    border-bottom: 1px solid;
    margin-top: 20px;
    margin-bottom: 15px
}

#backlogRequests h4 {
    padding: .4em;
    font-size: 1.4em;
    letter-spacing: .1em;
}

#backlogRequests h4 .icon {
    margin: 0;
    font-size: 1.1em;
}

#backlogRequests h5 {
    font-weight: 800;
    font-size: 1.2em;
}

#backlog #content {
    overflow: hidden;
}

#main-stats.slideOut {
    transition: 500ms ease;
    left: 100%;
}

/* Main stats up of screen */
#main-stats {
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%);
    z-index: 999;
    transition: 500ms ease;
    left: 0;
    position: relative;
    height: 125px;
}

#main-stats .stats-row {
    margin: 0;
}

#main-stats .stat {
    text-align: right;
    padding: 5px 0px 25px 0px;
    border-right: 1px solid #e8e9ee;
    position: relative;
}

#main-stats .stat.last {
    border-right: 0px;
}

#main-stats .stat .data {
    color: #29323a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    padding-right: 50px;
}

#main-stats .stat .data .number {
    color: #32a0ee;
    font-size: 2em;
    margin-right: 15px;
}

#main-stats .stat .date {
    color: #b4b8bb;
    font-weight: lighter;
    font-family: 'Lato', 'Open Sans';
    font-style: italic;
    font-size: 1.1em;
    position: absolute;
    right: 50px;
}

#main-stats:not(.slideOut) #backlogStats {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#main-stats.slideOut #backlogStats {
    left: -40px;
}

#backlogStats svg.icon {
    cursor: pointer;
    fill: #fff;
    font-size: 1.25em;
}

#backlogStats {
    cursor: pointer;
    padding: 3px;
    top: 10px;
    width: 40px;
    height: 37px;
    fill: #fff;
    position: absolute;
    background: #32a0ee;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    transition: background 500ms ease;
}

#backlogStats:hover {
    background: #3a87ad
}

#pieReqs .nv-label, #pieReqs .nv-label rect {
    display: none;
}

#pieReqs svg {
    -webkit-transition: 300ms ease;
    -ms-transition: 300ms ease;
    transition: 500ms ease;
}

#pieReqs:hover svg {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    width: 175px;
    height: 175px;
    margin-left: 200px;
    margin-top: 200px;
}

#pieReqs .nv-label text {
    stroke: none !important;
    font-size: .5em;
}

#pieReqs .nv-slice:hover .nv-label {
    display: block;
}

.animateColor {
    transition: background 3s ease-in;
}

.h4 .icon-plane {
    position: relative;
    top: -.3em;
    left: .2em;
}

.h4 .btn {
    transition: all 500ms ease!important;
}

.h4 .btn .icon-exclamation-circle {
    display: none;
}

.h4 .btn-danger .icon-exclamation-circle {
    top: -.3em;
    position: relative;
    display: inline;
}

.h4 .btn .icon-plane {
    transition: opacity 500ms ease;
    width: 0;
    opacity: 0;
}

.h4 .btn-warning .icon-plane {
    transition: opacity 500ms ease;
    opacity: 1;
    width: 2em;
}

.h4 .btn .bigLetter {
    border-right: 1px solid white;
    font-size: 2em;
    line-height: .75em;
    vertical-align: middle;
    padding-right: .35em;
    margin-right: .35em;
}

#backlogRequests .badge {
    font-size:1.35em;
    margin:-.2em 0 0 0;
}
