include ../__mixins

form(name='modal')

    .modal-header.caps
        h3
            +icon('plus-circle')
            | Validate 898 for {{courses[0].FTD.LongName}}
            .pull-right
                input.form-control(type='text',
                ng-model='courses.month',
                data-date-format='MMMM yyyy',
                data-min-view=1,
                data-min-date='today',
                bs-datepicker)

    .modal-body

        +userInstructions('modal-backlog')

        .row

            .col-lg-8
                .input-group(explain="(Optional) Add any general notes for this 898 request.", top)
                    .input-group-addon 898 Notes:
                    p.form-control(contenteditable, ng-model='notes')

            .col-lg-4(ng-if='!local')
                .input-group.pull-right(style='width:20em!important')
                    .input-group-addon  Funding Source:
                    .btn-group.no-toggle(hover='backlog-funding', right, bs-radio-group, ng-model='$parent.funded')
                        label.btn.btn-default
                            input(value='true', type='radio')
                            | Unit
                        label.btn.btn-default
                            input(value='false', type='radio')
                            | MAJCOM

        .clearfix

        br

        .well.well-sm(ng-repeat='row in courses', ng-class='{priority:row.priority}')

            .h4
                .btnFake.white(class='btn-primary')
                    span.bigLetter {{row.requirements.length}}
                    span(style='font-size:1.25em;position:relative;top:.15em;') {{row.PDS}}&nbsp;

                .pull-right.w75(style='position:relative;top:.2em')
                    span.pull-right(hover='This is a priority course (listed on the CAF/MCL).')
                        +icon('asterisk')
                    .truncate.text-right(style='margin-top:5px') {{row.Title}}

            hr

            .col-lg-3
                table.table.table-split
                    tbody
                        tr
                            td Course
                            td {{row.Number}}

                        tr
                            td Length
                            td {{row.Days}} Days / {{row.Hours}} Hours

                        tr
                            td Limits
                            td {{row.Min}} Min / {{row.Max}} Max

            .col-lg-1

            .col-lg-3
                table.table.table-split#stats898
                    tbody
                        tr
                            td {{row.History.d1}}
                            td
                                input.w60(ng-model='row.History.r1', placeholder='Requested')
                                input.w30.pull-right(ng-model='row.History.b1', placeholder='Built')

                        tr
                            td {{row.History.d2}}
                            td
                                input.w60(ng-model='row.History.r2', placeholder='Requested')
                                input.w30.pull-right(ng-model='row.History.b2', placeholder='Built')

                        tr
                            td {{row.History.d3}}
                            td
                                input.w60(ng-model='row.History.r3', placeholder='Requested')
                                input.w30.pull-right(ng-model='row.History.b3', placeholder='Built')


            .col-lg-1

            .col-lg-4
                table.table.table-split
                    tbody
                        tr(ng-repeat='student in (students =  (row.students | limitTo:row.limit))')
                            td(style='letter-spacing:.1em')
                                | {{student}}
                                p(ng-show='$last && $index < (row.students.length - 1)')
                                    a(ng-click='row.limit = 99') Show All

            .clearfix
            br



            table.table.table-split
                tbody
                    tr(explain="(Optional) Add any notes for this course.", right)
                        td(style='width:6.75em;white-space:normal') Course Notes
                        td: p.form-control(contenteditable, ng-model='row.CourseNotes')


        br

    +modalFooter('Submit to MTF/CC', true)