include ../__mixins

div
    ul#dashboard-menu

        +link('home', 'home', 'Home')

        li: h4 Requirements
        +link('backlog', 'checklist2', 'Generate 898')
        +link('requirements', 'agree', '898 Response')

        li: h4 Classes
        +link('scheduled', 'calendar_range', 'View Scheduled')
        +link('requests', 'download', 'Manage Requests')

        li: h4 Manage FTSS
        +link('catalog', 'books', 'Course Catalog')
        +link('instructors', 'instructor', 'Instructors')
        +link('units', 'building-o', 'FTDs')
        +link('hosts', 'puzzle-piece', 'Host Units')