include ../__mixins

#language


    // These are the top navigation area buttons & search boxes listed from left to right ==============================

    #record-count.
        Displays the record  count for your search.  If the background is <span style="color:#d58512;font-weight:800">orange</span>,
        there were too many records found so you'll want to refine your search a little by adding more search tags.

    #tagBox.
        [icon=info] Use this search box to create custom queries that you can <i>bookmark or share</i>.
        Combine as many as you like, the first row of tags in <i><b>bold-italics</b></i> are custom searches for this page.

    #searchBox.
        [icon=info] This search box lets you do full-text instant searches.  The more words you add, the more specific your search will be.  I.e., "robins engines" would find any data that included <i>both</i> "robins" and "engines".

    #button-clear Clear this search

    #button-grouping Change how data is grouped

    #button-sorting Change how data is sorted

    #button-collapse Expand or collapse rows

    #button-archive Toggle visibility of archived data




    // Manage Students Page ============================================================================================

    #students.
          After your unit is added under the Host Units tab, add all Airmen requiring FTD training here. Backlog tracking required by AFI will be automated from this data.
          After establishing training requirements here, you can generate 898 requirements from your backlog by using the Generate 898 tab.  If you use IMDS to track FTD training, the course codes are already loaded into FTSS so you can just drag and drop a student's 593 to load their training requirements.

    #modal-students.
        Add each student in your unit that will require FTD courses. You can look up their name in the GAL using the name search option, and you can drag and drop their IMDS 593, which will automatically decipher the courses the student requires according to the IMDS 593. 

    #students-name Enter student name

    #students-unit Unit this student is assigned to.

    #students-email This email address may be used to send FTSS notifications about the student's FTD class

    #students-date (optional) This is the in-processing date for the student,<br>it is used to sort students by longest wait-time and is designed to help you decide who may need the class more than the rest to reduce overdues.

    #students-category  Choose the student type; this is used in conjunction with TDY status to determine the seat request type.

    #students-training
        p.
            This is a list of all the training requirements for this student.
            When a student is scheduled for a given course, it is automatically removed from this list.<br>
        This data can also be imported from an IMDS 593 using one of three ways:<br>
        ol
            li Copy & paste the text anywhere on this screen.
            li Drag & drop the text file onto this window.
            li Click the import button below & load the text file.




    // Generate 898 Page ===============================================================================================

    #generate-898.
        This page shows the current backlog for a unit and enables you to generate an electronic 898. To get started, view a course, select the FTD you will request from (the closest available will be selected by default), and select the students who will take the course that month. As you select the students, a summary list on the right will display your draft 898. Once your list is complete, click each FTD base header on the right side to confirm and submit each base 898 request for MTF CC/Chief approval.  

    #backlog-graph-view Click to toggle the backlog graphs & statistics for this unit.




    // Course Catalog Page =============================================================================================

    #catalog.
          Course Catalog enables you to view details for all J4 courses. Hover over the course to view the course title and hours. Hover over the instructor icon to view the FTDs that teach the specified course. Type course information above to refine your search. Only Squadron Training and Curriculum Managers can alter this information. 

    #modal-catalog
        h4:b.text-center APPLICATION-WIDE CHANGE
        p.
            Editing the Course Catalog will affect all users of this course.  Please ensure you are aware of the implications of any changes before continuing.

    #catalog-pds The unique, short-code for this course

    #catalog-mds The airframe associated with this course

    #catalog-The AFSC taught in this course.

    #catalog-Course Number (J4....)

    #catalog-imds (Optional) The IMDS course number used for 593 imports and searches by course number

    #catalog-Course Title

    #catalog-days Total number of course days

    #catalog-hours Total number of course hours 

    #catalog-min The minimum number of seats

    #catalog-max The maximum number of seats

    #catalog-cafmcl A Check mark indicates this course is listed on the CAF/MCL. This is used for prioritizing 898 requirements




    // Instructors Page ================================================================================================

    #instructors.
        Use this page to add, edit or archive instructors. Instructor bio photos and instructor AFSCs can be added, but are not required. 

    #modal-instructors.
           Here you can add or update an instructor's profile.  Instructor bio photos and instructor AFSCs can be added, but are not required. To add or change a photo, drag a new one into the window and press "Submit".

    #instructors-name Type instructor name (last, first MI) and press enter to select from the GAL.

    #instructors-email Enter work email address

    #instructors-unit Enter the instructor's detachment

    #instructors-afsc Enter the instructor's AFSC

    #instructors-photo (Optional) Drag and drop a photo here to add/update this instructor's photo




    // FTDs Page =======================================================================================================

    #units.
          Use this page to edit FTD information.  You can add courses taught at a particular FTD and annotate the contact email (normally scheduler's email).

    #modal-units.
            Update FTD contact email and list of courses taught at the unit displayed above.
            An 898 cannot be generated or class built unless the course is first listed below.

    #units-email This email address will be used to send FTSS notifications to the FTD

    #units-courses Add every course offered by this FTD here.  You can search by PDS, MDS, AFSC, Course Number, et cetera, or you can copy & paste a list of PDSs here




    // Host Units Page =================================================================================================

    #hosts.
          Before a student can be added to FTSS (required for the 898 process), the host unit must be added. Use this page to add or edit hosts units (groups).  If the unit has a local FTD, be sure to add that to the unit as this is used for determining if this is a local or TDY request.

    #modal-hosts.
         You must add your Host Unit before you load students into FTSS. Host units should be no lower than the group level unless you are a detachment (eg 826 AMXS at Nellis AFB is detached from their group at Moody AFB). 

    #hosts-name Ex: 461 MXG

    #hosts-ftd Be sure to choose a local FTD only if your unit would not need to go TDY when attending that FTD. If you have no local FTDs, leave this cell blank.

    #hosts-email This email address will be used to send FTSS notifications to the unit

    #hosts-location Add zip code of unit















    #requests.
        TODO:  replace this text with instructions for the users regarding this page.

    #requirements.
        TODO:  replace this text with instructions for the users regarding this page.

    #scheduled.
        TODO:  replace this text with instructions for the users regarding this page.

    #people-picker  You can lookup a name, type or paste in this window to add the individual.  The format should be the same as in Outlook.
        example Doe, John A SSgt...

    #request-seats Search for students to add to the request.
        example Please ensure you have already loaded these students into FTSS.

    #request-comments Leave any comments for the FTD or MAJCOM as applicable (optional).



    //- **************** THIS IS THE STUFF WE NEED TO FIX, THESE ARE THE FIELD HELP DIALOGES







