include ../__mixins

- var columns = {'': 15, 'Host Unit':20, 'Local FTD':20, Email:30}
+tableHeader('Host Unit', columns, 'hosts')

    td: +icon('flag')

    td: +googleMap(true)

    td: b {{row.Unit}}

    td {{row.det.LongName}}

    td {{row.Email}}

    td: +actions(true, true, false, 'Host Unit')