.icon {
    display: inline-block;
    width: 1.35em;
    height: 1.25em;
    margin: .2em .3em -.2em;
    fill: #333;
    pointer-events: none;
}

.btn .icon {
    margin: 0 -.25em -.45em;
}

h4 .icon, .input-group-addon .icon {
    width: 1.5em;
}

.white.icon, .white .icon {
    fill: #fff !important;
}

.icon.af_logo {
    margin-left: 0;
    width: 2.5em;
    height: 2em;
}

.well:hover .invert .icon, tr:hover .btn .icon, .invertSimple .icon {
    fill: #fff !important;
}

.frozen .icon {
    fill: #428bca !important;
}

#spinner {
    position: absolute;
    top: 30%;
    left: calc(50% - 12em);
    visibility: hidden;
    transition-delay: 100ms;
    transition: visiblity 1s, opacity 1s ease;
    opacity: 0;
}

#spinner svg.icon {
    fill: #555 !important;
}

#home #spinner svg.icon {
    fill: #fff !important;
}

.wait #spinner {
    visibility: visible;
    transition: opacity 300ms linear;
    opacity: 1;
}

#spinner label {
    font-size: 12em;
}
