// The icon mixin generates an SVG link to our SVG sprite
mixin icon(tag)
    svg.icon(class=tag + ' icon-' + tag, viewBox='0 0 32 32')
        use(xlink:href='#icon-' + tag)



// Creates the code for our links on the left navbar
mixin link(page, tag, name)
    li(class=page)
        .pointer
            .arrow
            .arrow_border
        span.link(ng-click='fn.doNavigate("' + page + '")')
            +icon(tag)
            span= name


mixin modalFooter()
    .row.alert.alert-danger(ng-show='modal.$dirty && modal.$invalid')
        +icon('info')
        | All fields are required.
    .row.alert.alert-danger(ng-show='error')
        +icon('info')
        | {{error}}

    .modal-footer
        .sending(ng-show='submitted')
            spinner(size='2em')
            | Please wait, sending data...
        button.btn.btn-success.btn-labeled(type='button', ng-click='submit()', ng-disabled='!modal.$dirty || modal.$invalid || submitted')
            span.btn-label.white
                +icon('check-alt')
            | Submit
        button.btn.btn-default(ng-click='close()') Cancel