// The icon mixin generates an SVG link to our SVG sprite
mixin icon(tag)
    svg.icon(class=tag + ' icon-' + tag, viewBox='0 0 32 32')
        use(xlink:href='#icon-' + tag)



// Creates the code for our links on the left navbar
mixin link(page, tag, name)
    li(class=page)
        .pointer
            .arrow
            .arrow_border
        span.link(ng-click='fn.doNavigate("' + page + '")')
            +icon(tag)
            span= name


