#messages(ng-cloak, ng-if='messages.class')
    .alert(class='alert-{{messages.class}}')
        b {{messages.intro}}
        br(style='line-height: 2em', ng-show='messages.newLine')
        | {{messages.message}}

//spinner#spinner