a(href='https://www.google.com/maps/@{{data.Location | nospace}},12z', target='_blank')
    img#googleModalMap(src='http://maps.google.com/maps/api/staticmap?center={{data.Location | nospace}}&zoom=12&size=400x300&sensor=false')