div
    ul#dashboard-menu(ng-class='page()', ng-cloak='')
        li
            h4 Training Actions
        nav-link(link='requirements', name='Requirements', icon='agree')
        nav-link(link='scheduled', name='Built Classes', icon='calendar_range')
        nav-link(link='requests', name='Class Requests', icon='sent')
        li
            h4 Common Lists
        nav-link(link='catalog', name='Catalog', icon='books')
        nav-link(link='units', name='FTDs', icon='location')
        nav-link(link='instructors', name='Instructors', icon='instructor')
        nav-link(link='students', name='Students', icon='student_hand')