include _mixins

div
    ul#dashboard-menu(ng-class='fn.getPage()')
        li: h4 Requirements
        +link('students', 'student_hand', 'Manage Students')
        +link('backlog', 'checklist2', 'Generate 898')
        +link('requirements', 'agree', '898 Response')

        li: h4 Classes
        +link('scheduled', 'calendar_range', 'View Scheduled')
        +link('requests', 'sent', 'Manage Requests')

        li: h4 Manage FTSS
        +link('catalog', 'books', 'Course Catalog')
        +link('instructors', 'instructor', 'Insructors')
        +link('units', 'location', 'FTDs')
        +link('hosts', 'building-o', 'Host Units')