div
    ul#dashboard-menu(ng-class='page()', ng-cloak)
        li: h4 Requirements
        nav-link(link='students', name='Manage Students', icon='student_hand')
        nav-link(link='backlog', name='Generate 898', icon='checklist2')
        nav-link(link='requirements', name='898 Response', icon='agree')

        li: h4 Classes
        nav-link(link='scheduled', name='View Scheduled', icon='calendar_range')
        nav-link(link='requests', name='Manage Requests', icon='sent')

        li: h4 Manage FTSS
        nav-link(link='catalog', name='Course Catalog', icon='books')
        nav-link(link='instructors', name='Instructors', icon='instructor')
        nav-link(link='units', name='FTDs', icon='location')
        nav-link(link='hosts', name='Host Units', icon='location')
