div(ng-show='loaded', style='width:97%;float:left')

    #searchContainer.col-lg-12.no-pad(ng-class='{tagBox:tagBox}')

        #tagBox.col-lg-10(explain='tagBox', show='top', no-arrow='')
            select.hide(selectize='initialize', multiple, placeholder='Click or type to add search terms', style='width:100%')
                optgroup(label='SMART FILTERS')

        #searchBox.col-lg-10(explain='searchBox', show='top', no-arrow='')
            input.search.search-large(type='search', ng-model='searchText.$', placeholder='Type in a search to limit the results for this list.')

        #searchButtons.col-lg-2.no-pad

            button.btn.btn-default(type='button', ng-click='reset()', hover='button-clear', show='left')
                icon restore

            span(style='width:5%')  

            span.dropdown
                span.dropdown-toggle.btn.btn-default(hover='button-grouping', show='left')
                    icon group
                .dropdown-menu
                    h3.popover-title Group By
                    .btn-group-vertical
                        button.btn.btn-link(ng-repeat='(val, name) in grouping', type='button', ng-model='groupBy.$', btn-radio='val')
                            | {{name}}
            span.dropdown
                span.dropdown-toggle.btn.btn-default(hover='button-sorting', show='left')
                    icon sort
                .dropdown-menu
                    h3.popover-title Sort By
                    .btn-group-vertical
                        button.btn.btn-link(ng-repeat='(val, name) in sorting', type='button', ng-model='sortBy.$', btn-radio='val')
                            | {{name}}

            span(style='width:5%')  

            button#toggleExpand(ng-click='collapse()', hover='button-collapse', show='left', class='btn btn-default {{wellCollapse}}', type='button')
                icon expand
                icon collpase