#stats(ng-cloak='')
    span.badge(ng-class='{overload:overload}', hover='Displays the record count for your search.  If the background is <span style="color:#d58512;font-weight:800">orange</span>, there were too many records found so you"ll want to refine your search a little by adding more search tags.', show='bottom')
        | {{count}}
        span   ⃰