header.navbar.navbar-inverse(role='banner')
    .navbar-header
        span.navbar-brand
            icon(path='aflogo', size='1.65em')
            span FTSS 3 | Developer Mode

    ul.nav.navbar-nav.pull-right.hidden-xs
        li(ng-controller='user')
            a(href='#', tabindex='-1')
                | {{user.Name}}
        li
            .support(data-content-template='/partials/support.html', data-placement='left', bs-aside='aside', data-container='body', data-animation='am-slide-left')
                icon question