header.navbar.navbar-inverse(role='banner')
    .navbar-header
        span.navbar-brand
            icon(path='aflogo', size='1.65em')
            span FTSS 3 | Developer Mode

    ul.nav.navbar-nav.pull-right.hidden-xs
        li(ng-controller='user')
            a(href='#')
                | {{user.Name}}