.row(ng-show='loaded && fn.getPage() !== "home"', ng-cloak)
    include includes/searchbox-buttons
    include includes/stats
    include includes/searchbox

    .clearfix
    hr(style='margin:3px 0 5px')

include includes/feedback