div(ng-show='!submitted')
    button.btn.btn-link.btn-mini.leftBigTraverse(ng-click='traverse(false)') &#9664;
    button.btn.btn-link.btn-mini.rightBigTraverse(ng-click='traverse(true)', style='margin-left:0') &#9654;