form.form-horizontal(name='modal', ng-any-drop)

    .modal-header
        h4
            icon student_hand
            | {{data.Student.Name}}

    .modal-body

        // This will only be shown if we are adding a student
        .row(ng-if='createData')
            .col-lg-12
                .input-group
                    .input-group-addon(style='width:11%')
                        icon student_hand
                    .input-group-selectize(explain='', show='right')
                        select(selectize='people', field='StudentId')

        .row

            .col-lg-8
                h4
                    icon location_small
                    b Assigned Unit & Local FTD

                .input-group.caps
                    .input-group-addon.w15 Unit
                    .input-group-selectize(explain='', show='right')
                        select(selectize='HostUnits', bind='HostUnit', create)

                .clearfix(style='height:.3em')

                .input-group.caps
                    .input-group-addon.w15 FTD
                    .input-group-selectize(explain='', show='right')
                        select(selectize='Units', bind='FTD')

            .col-lg-3.pull-right
                h4
                    b.text-right Category
                .btn-group-vertical
                    button.btn.btn-default(ng-model='data.StudentType', btn-radio='1') Enlisted
                    button.btn.btn-default(ng-model='data.StudentType', btn-radio='2') Officer
                    button.btn.btn-default(ng-model='data.StudentType', btn-radio='3') Civilian

        br

        .row.imds-import
            .col-lg-12(explain='students-modal-training', show='right')
                h4
                    icon checklist
                    b Required Training

                select(selectize='MasterCourseList', bind='Requirements_JSON', multiple, placeholder='Type to add training requirements.')

                .pull-right(hover="Click to import load {{firstName}}'s 593 from IMDS; you can also just drag & drop it onto this window.", show='right', text-parser='Import IMDS 593')


        .clearfix

    ng-include(src='"/partials/modal-footer.html"')
