form.form-horizontal(name='modal', ng-any-drop)

    .modal-header
        h4
            icon student_hand
            | {{createData ? 'Student Inprocessing' : data.Student.Name}}

    .modal-body

        // This will only be shown if we are adding a student
        people-picker(field='StudentId', filter='Students')

        h4.light-bottom
            b Inprocessing Date & Student Type

        br
        .row

            .col-lg-6
                .input-group(explain='students-inprocessing-date', left)
                    .input-group-addon
                        icon calendar_range
                    input.form-control(ng-model='data.ProcessDate', bs-datepicker, data-max-date='today')
                time-ago(prefix='inprocessed') data.ProcessDate

            .col-lg-6
                .btn-group.pull-right.no-toggle(hover='students-category', right, bs-radio-group, ng-model='data.StudentType')
                    label.btn.btn-default
                        input(value='1', type='radio')
                        | Enlisted
                    label.btn.btn-default
                        input(value='2', type='radio')
                        | Officer
                    label.btn.btn-default
                        input(value='3', type='radio')
                        | Civilian

        br
        br

        h4.light-bottom
            icon location_small
            b Assigned Unit & Local FTD

        .row

            .col-lg-12
                .input-group.caps(explain='students-host-unit', left)
                    .input-group-addon Unit
                    .input-group-selectize
                        select(selectize='HostUnits', bind='HostUnitId', create)

        br
        br

        .row.imds-import
            .col-lg-12(explain='students-training-requirements', right)
                h4
                    icon checklist
                    b Required Training

                select(selectize='MasterCourseList', bind='Requirements_JSON', multiple, placeholder='Type to add training requirements.')

                .pull-right(hover="Click to import {{data.firstName}}'s 593 from IMDS; you can also just drag & drop the file or text onto this window or copy/paste straight from IMDS.", right, text-parser='Import IMDS 593')


        .clearfix

    ng-include(src='"/partials/modal-footer.html"')
