include ../__mixins

form.form-horizontal(name='modal', ng-any-drop)

    traverse

    +modalHeader('New Student', "{{data.StudentName | firstName}}'s Profile")

    .modal-body

        +userInstructions('modal-students')

        .form-horizontal(style='margin-right:-20px')

            // This will only be shown if we are adding a student
            div(ng-if='createData')
                +peoplePicker('Student')

            div(ng-if='!createData')
                +formGroupText('Name', 'data.StudentName', type='text', true, 'You must enter a valid name.', 'students-name')

            +formGroup('Unit', 'students-unit')
                .input-group-selectize
                    select(selectize='Hosts', bind='HostUnitId', placeholder='Choose the host unit')

            +formGroupIcon('Email', 'data.StudentEmail', type='email', false, 'Please ensure you enter a valid email address', 'students-email', 'envelope')

            +formGroup('Date', 'students-date')
                .input-group(explain='students-inprocessing-date', left)
                    .input-group-addon.w15: +icon('calendar_range')
                    input.form-control(ng-model='data.ProcessDate', bs-datepicker, data-max-date='today')
                time-ago(prefix='inprocessed') data.ProcessDate

            +formGroup('Type')
                .btn-group.no-toggle(hover='students-category', right, bs-radio-group, ng-model='data.StudentType')
                    label.btn.btn-default
                        input(value='1', type='radio')
                        | Enlisted
                    label.btn.btn-default
                        input(value='2', type='radio')
                        | Officer
                    label.btn.btn-default
                        input(value='3', type='radio')
                        | Civilian

            +formGroup('Training Needs', 'students-training')
                .imds-import
                    select(selectize='MasterCourseList', bind='Requirements_JSON', multiple, placeholder='Type to add training requirements.')

                    .pull-right(hover="Click to import a 593 from IMDS; you can also just drag & drop the file or text onto this window or copy/paste straight from IMDS.", right, text-parser='Import IMDS 593')

        .clearfix

    +modalFooter()
