include ../_mixins

- var columns = {Student:40, Host:15, Inprocessed:15, Requiremenst:10}
+tableHeader(false, columns)

    td: +icon('flag')

    td
        b
            span.archiveOnly ***ARCHIVED STUDENT***&nbsp;
            | {{row.StudentName}}

    td {{row.HostUnit.Unit}}

    td {{row.wait}}

    td
        b(ng-show='row.Requirements_JSON.length',
            hover='Training Requirements',
            content='<dl class="dl-horizontal">{{row.requirements}}</dl>')
            +icon('checklist')
            | {{row.Requirements_JSON.length}} Courses

    td
        +actions(false, true, true, 'student')