include partials/__mixins

+pageHead

    link(rel='stylesheet', href='https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/app.css')

    script(src='https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/vendor.js')

    body(ng-controller='mainController')

        include partials/includes/content

        script(src='https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/partials.js')
        script(src='https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/app.js')