include partials/__mixins

+pageHead

        link(rel='stylesheet', href='css/app.css')

        script(src='js/vendor.js')

    body(ng-controller='mainController', id='{{fn.getPage()}}')
        include partials/includes/content

        script(src='js/partials.js')
        script(src='js/app.js')
