include partials/__mixins

- base = 'https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/development/'
/ - base = ''

+pageHead

        link(rel='stylesheet', href=base + 'css/app.css')

        script(src=base + 'js/vendor.js')

    body.wait(ng-controller='mainController', id='{{fn.getPage()}}')
        include partials/includes/content

        #spinner: +icon('refresh', '0 0 27 32')

        script(src=base + 'js/partials.js')
        script(src=base + 'js/app.js')
