div(class='{{wellCollapse}}')
    div(ng-repeat='(header, group) in groups')
        h3(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}
        .well(ng-repeat='row in group', ng-once)

            h4
                span(class='btn btn-info') {{row.Students_JSON.length}} Required
                span.rollupOnly {{row.Course.PDS}} - {{row.Course.Number}}
                span.pull-right(style='letter-spacing: .1em')
                    | {{row.Date}}
                    icon calendar_range

            hr.rollup

            .rollup
                
                .col-lg-7.pull-left
                    table.table.table-split
                        thead
                            tr
                                th.truncate(colspan='2') {{row.Course.PDS}} - {{row.Course.Number}}: {{row.Course.Title}}
                        tbody
                            tr
                                td Location
                                td {{row.Unit.LongName}}
                            tr
                                td MDS
                                td {{row.Course.MDS}}
                            tr
                                td AFSC
                                td {{row.Course.AFSC}}
                            tr
                                td Days
                                td {{row.Course.Days}}
                            tr
                                td Hours
                                td {{row.Course.Hours}}

                .col-lg-5.pull-right.text-right(style='margin-top: 10px')
                    p.truncate(ng-repeat='student in row.Students', style='margin-bottom: 10px')
                        icon student_hand
                        a(href='mailto:{{student.WorkEMail}}{{row.mail}}') {{s.Name}}
                        br
                        span(ng-show='student.WorkPhone') {{s.WorkPhone}}


                .clearfix
                    .requestActions
                        hr
                        .pull-right.invert
                            button.btn.btn-success.btn-labeled.btn-muted(type='button', ng-click='add(r)', ng-show='row.openSeats')
                                span.btn-label
                                    icon add
                                | Request Seats
                            button.btn.btn-primary.btn-labeled.btn-muted(type='button', ng-show='row.requestCount', ng-click='view(r)')
                                span.btn-label
                                    icon search
                                | View Requests
                            button.btn.btn-warning.btn-labeled.btn-muted(type='button', ng-click='edit(r)')
                                span.btn-label
                                    icon edit
                                | Edit Class
                            button.btn.btn-dangerow.btn-labeled.btn-muted(type='button', ng-click='archive(r)')
                                span.btn-label
                                    icon delete
                                | Cancel Class
                        .clearfix
