include ../__mixins

div
    //-
        _.keys(data[0])
        ["__metadata", "Notes", "UnitId", "DateNeeded", "HostId", "Validated", "Approved", "Funded", "TDY", "Id", "Requestor", "Requirements"]
        _.keys(data[0].Requirements[972])
        ["course", "priority", "notes", "seatCount"]


.wrapped

    +userInstructions('requirements', true)

    +grouping()

        .well(ng-repeat='row in group', ng-class='{archived:row.Archived, updated:row.updated}', id='{{row.Id}}wr')

            #requirementsProgress.wizard
                ul.steps
                    li.complete
                        span.badge 1
                        | MTF
                        span.chevron
                    li.complete
                        span.badge 2
                        | Group/CC
                        span.chevron
                    li.active
                        span.badge 3
                        | MAJCOM
                        span.chevron
                    li
                        span.badge 4
                        | FTD
                        span.chevron

            .h4
                +icon('flag')

                .btnFake(class='btn-info')
                    span.bigLetter {{row.totalSeats}}
                    span(style='font-size:1.25em;position:relative;top:.15em;') {{row.FTD.LongName}}&nbsp;

                .pull-right(style='margin-top :-.5em!important')
                    .btn.btn-muted(style='font-size:1.5em', ng-click='edit(true, row)'): +icon('printer')

            hr.rollup

            .rollup

                blockquote
                    p {{row.Notes}}
                    footer {{row.Requestor.Name}}

                table.table.table-hover.table-center
                    thead

                        tr

                            th.w5
                            th.w5.left PDS
                            th.left Course
                            th.w10 {{row.History1}}
                            th.w10 {{row.History2}}
                            th.w10 {{row.History3}}
                            th.w10
                            th.w10 Min/Max
                            th.w5 Seats

                    tbody

                        tr(ng-repeat='req in row.Requirements', ng-class='{priority:req.priority}')

                            td
                                +icon('asterisk')
                                span.btn-muted(title='{{req.course.Title}}', hover='{{req.hover}}', right)
                                    +icon('info')

                            td.left
                                b {{req.course.PDS}}

                            td.left
                                b {{req.course.Number}} ({{req.course.MDS}})

                            td(class="{{req.history1.style}}") {{req.history1.text}}

                            td(class="{{req.history2.style}}") {{req.history2.text}}

                            td(class="{{req.history3.style}}") {{req.history3.text}}

                            td

                            td {{req.course.Min}} / {{req.course.Max}}

                            td.bold(style='font-size:1.25em') {{req.seatCount}}
