include ../__mixins

.wrapped(style='top:-77px;overflow:hidden')

    img#bg

    .jumbotron('style="margin:-25px;padding:25px"')
        h1 Field Training Scheduling System
        p The Air Force Field Training requirements & scheduling system

    br
    br
    br

    .row

        .col-lg-1

        .well.col-lg-3
            table.table.table-split

                tr
                    td Role
                    td Developer

                tr
                    td FTD
                    td Robins AFB

                tr
                    td Host Unit
                    td 5 CCG
