include ../_mixins

.jumbotron('style="margin:-25px;padding:25px"')
    h1 Field Training Support System
    p The Air Force Field Training Detachment requirements & scheduling system

br
br
br

.row

    .well.col-lg-3
        h4 Header
        p mosafm awifiow foiaw ef
