<div class="well request{{r.status}} {{wellCollapse}}" ng-repeat="r in requests">

    <div class="statusBackground">{{r.status}}</div>

    <h4><i class="glyphicon glyphicon-{{r.icon}}"></i> {{r.course.PDS}} - {{r.course.CourseTitle}} <span
            class="pull-right">{{r.course.CourseNumber}}</span></h4>

    <hr class="rollup">

    <div class="rollup">

        <div class="col-lg-6 pull-left">
            <h4 style="letter-spacing: .1em">{{r.start}} - {{r.end}}</h4>
            <h5><i class="glyphicon glyphicon-map-marker"></i>{{r.det.Base}} (Detachment {{r.det.Detachment}})</h5>
            <i>{{r.instructor}}</i>

            <hr>

            <blockquote>
                <p style="color:#777">{{r.notes}}</p>
                <small><a href="mailto:{{r.CreatedBy.WorkEMail}}{{r.mail}}">{{r.CreatedBy.Name}}
                    ({{r.CreatedBy.WorkPhone}})</a></small>
            </blockquote>

        </div>
        <div class="col-lg-6 pull-right text-right">

            <h4 class="text-{{r.openSeatsClass}}">{{r.reqSeatsText}} ({{r.openSeats}} Open):</h4>

            <p ng-repeat="s in r.Students.results">
                <i class="glyphicon glyphicon-user"></i>&nbsp;{{s.Name}}<br>
                <span ng-show="s.WorkEMail"><i class="glyphicon glyphicon-envelope"></i>&nbsp;<a
                        href="mailto:{{s.WorkEMail}}{{r.mail}}">{{s.WorkEMail}}</a><br></span>
                <span ng-show="s.WorkPhone"><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{s.WorkPhone}}<br></span>
                <br>
            </p>

        </div>

        <div class="clearfix"></div>

        <div class="requestActions">
            <hr>
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-labeled"><span class="btn-label"><i
                        class="glyphicon glyphicon-thumbs-up"></i></span>&nbsp;Approve
                </button>
                <button type="button" class="btn btn-danger btn-labeled"><span class="btn-label"><i
                        class="glyphicon glyphicon-thumbs-down"></i></span>&nbsp;Deny
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>