<!--
<div>
    <smart-table rows="requests" columns="columns" class="table table-striped" config="globalConfig"></smart-table>
</div>
-->

<div class="btn-group" ng-show="groupBy">
    <button class="btn text">GROUP BY:</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'MDS'">MDS</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'unit'">Unit</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'AFSC'">AFSC</button>
</div>

<div ng-repeat="(header, group) in groups">

    <h3 style="border-bottom: 1px solid; margin-top:20px; margin-bottom:15px">{{header}} <span class="pull-right">{{group.length}}</span>
    </h3>

    <div class="well {{wellCollapse}}" ng-repeat="r in group">

        <h4>{{r.Course.PDS}} - {{r.Course.Title}}
            <span class="pull-right" style="letter-spacing: .1em">{{r.start}} - {{r.end}}
                <i class="glyphicon glyphicon-calendar"></i></span>
        </h4>

        <hr class="rollup">

        <div class="rollup">

            <div class="col-lg-6 pull-left">
                <h4>{{r.Course.Number}}</h4>
                <h5>{{r.det.Base}} (Detachment {{r.det.Det}})</h5>
                <i>{{r.instructor}}</i>

            </div>
            <div class="col-lg-6 pull-right text-right">

            </div>

            <div class="clearfix"></div>

            <div class="requestActions">
                <hr>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-labeled"><span class="btn-label"><i
                            class="glyphicon glyphicon-plus"></i></span>&nbsp;Create Request
                    </button>
                    <button type="button" class="btn btn-primary btn-labeled"><span class="btn-label"><i
                            class="glyphicon glyphicon-search"></i></span>&nbsp;View Requests
                    </button>
                    <button type="button" class="btn btn-warning btn-labeled"><span class="btn-label"><i
                            class="glyphicon glyphicon-pencil"></i></span>&nbsp;Edit Class
                    </button>
                    <button type="button" class="btn btn-danger btn-labeled"><span class="btn-label"><i
                            class="glyphicon glyphicon-trash"></i></span>&nbsp;Cancel Class
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

</div>