<!--
<div>
    <smart-table rows="requests" columns="columns" class="table table-striped" config="globalConfig"></smart-table>
</div>
-->

<div class="btn-group" ng-show="groupBy">
    <button class="btn text">GROUP BY:</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'MDS'">MDS</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'unit'">Unit</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'AFSC'">AFSC</button>
    <button type="button" class="btn btn-primary" ng-model="groupBy" btn-radio="'availability'">Open Seats</button>
</div>

<div ng-repeat="(header, group) in groups">

    <h3 style="border-bottom: 1px solid; margin-top:20px; margin-bottom:15px">{{header}} <span class="pull-right">{{group.length}}</span>
    </h3>

    <div class="well {{wellCollapse}}" ng-repeat="r in group">

        <h4>
            <span class="btn btn-{{r.openSeatsClass}} availSeats" disabled>{{r.openSeats}} Open</span>
            <span class="rollupOnly">{{r.Course.PDS}} - {{r.Course.Number}}</span>
            <span class="pull-right" style="letter-spacing: .1em">
                {{r.start}} - {{r.end}}
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </h4>

        <hr class="rollup">

        <div class="rollup">


            <div class="col-lg-9 pull-left">

                <table class="table table-bordered table-striped">
                    <thead>
                    <th colspan="2">{{r.Course.PDS}} - {{r.Course.Number}}: {{r.Course.Title}}</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Location</td>
                        <td class="bold">{{r.det.Base}} (Detachment {{r.det.Det}})</td>
                    </tr>
                    <tr>
                        <td>Instructor</td>
                        <td class="bold">{{r.instructor}}</td>
                    </tr>
                    <tr>
                        <td>MDS</td>
                        <td class="bold">{{r.Course.MDS}}</td>
                    </tr>
                    <tr>
                        <td>AFSC</td>
                        <td class="bold">{{r.Course.AFSC}}</td>
                    </tr>

                    <tr>
                        <td>Days</td>
                        <td class="bold">{{r.Course.Days}}</td>
                    </tr>
                    <tr>
                        <td>Hours</td>
                        <td class="bold">{{r.Course.Hours}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-lg-2 pull-right text-right">

                <table class="table table-bordered table-striped">
                    <thead>
                    <th colspan="2" class="text-right">TRAINING SEATS</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Host</td>
                        <td class="text-center bold">{{r.Host}}</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td class="text-center bold">{{r.Other}}</td>
                    </tr>
                    <tr>
                        <td>Approved</td>
                        <td class="text-center bold">{{r.approvedSeats}}</td>
                    </tr>
                    <tr style="border-top:2px solid;">
                        <td>Minimum</td>
                        <td class="text-center bold">{{r.Course.Min}}</td>
                    </tr>
                    <tr>
                        <td>Maximum</td>
                        <td class="text-center bold">{{r.Course.Max}}</td>
                    </tr>
                    <tr style="border-top:2px solid;">
                        <td>Pending</td>
                        <td class="text-center bold">{{r.pendingSeats}}</td>
                    </tr>
                    <tr class="bold">
                        <td>Available</td>
                        <td class="text-center">{{r.openSeats}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="clearfix"></div>

            <div class="requestActions">
                <hr>
                <div class="pull-right">
                    <button type="button"
                            class="btn btn-success btn-labeled"
                            ng-click="add()"
                            ng-show="r.openSeats > 0">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>&nbsp;Request Seats
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-labeled"
                            ng-show="r.requestCount > 0"
                            ng-click="view(r)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>&nbsp;View Requests
                    </button>
                    <button type="button"
                            class="btn btn-warning btn-labeled"
                            ng-click="edit(r.Id)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>&nbsp;Edit Class
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-labeled"
                            ng-click="archive(r.Id)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>&nbsp;Cancel Class
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

</div>