<div class="pull-right">
    <input type="search" class="search" ng-model="searchText.$"/>
</div>

<table class="table table-striped table-expanded table-hover">
    <thead>
    <th></th>
    <th sorter="Name" default></th>
    <th sorter="Det" text="Unit"></th>
    <th sorter="AFSC"></th>
    <th>Actions</th>
    </thead>
    <tbody>

    <tr ng-repeat="instructor in filtered = (data | search:searchText.$)" class="middle">
        <td>
            <photo size="75px" data="{{instructor.bio}}"></photo>
        </td>
        <td><b>{{instructor.Name}}</b></td>
        <td><b>{{instructor.Unit.Base}} (Det. {{instructor.Det}})</b></td>
        <td><b>{{instructor.AFSC}}</b></td>
        <td class="invert">
            <button type="button"
                    class="btn btn-sm btn-info btn-muted"
                    ng-click="view(instructor.Id)">
                <icon path="graph"></icon>
            </button>
            <button type="button"
                    class="btn btn-sm btn-warning btn-muted"
                    ng-click="edit(instructor.Id)">
                <icon path="edit"></icon>
            </button>
        </td>
    </tr>
    </tbody>
</table>