
<table class="table table-striped table-expanded table-hover">
    <thead>
    <th sorter="Base"></th>
    <th sorter="Det" text="Detachment" default></th>
    <th sorter="Email"></th>
    <th>Actions</th>
    </thead>
    <tbody>

    <tr ng-repeat="unit in data">
        <td><b>{{unit.Base}}</b></td>
        <td><b>{{unit.Det}}</b></td>
        <td><b>{{unit.Email}}</b></td>
        <td>
            <button type="button"
                    class="btn btn-sm btn-info btn-muted"
                    ng-click="view(unit.Id)">
                <i class="fa fa-search"></i>
            </button>
            <button type="button"
                    class="btn btn-sm btn-warning btn-muted"
                    ng-click="edit(unit.Id)">
                <i class="fa fa-pencil"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>