<div class="clearfix" ng-show="groupBy">

    <div class="btn-group">
        <button class="btn text">GROUP BY:</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'course'">Course</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'status'">Status</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'unit'">Unit</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'MDS'">MDS</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'AFSC'">AFSC</button>
    </div>

    <div class="btn-group" ng-cloak>
        <button class="btn text">SORT BY:</button>
        <button type="button" class="btn btn-link" sorter="status" text="Status" default></button>
        <button type="button" class="btn btn-link" sorter="course" text="Course"></button>
        <button type="button" class="btn btn-link" sorter="unit" text="Unit"></button>
        <button type="button" class="btn btn-link" sorter="AFSC"></button>
    </div>

    <div class="pull-right">
        <input type="search" class="search" ng-model="searchText.$"/>
    </div>

</div>

<div ng-repeat="(header, group) in groups" style="margin-bottom: 50px">

    <h3 style="border-bottom: 1px solid; margin-top:5px; margin-bottom:15px" ng-show="filtered.length">{{header}} <span
            class="pull-right">{{filtered.length}}<span ng-hide="filtered.length == group.length">  of {{group.length}}</span></span>
    </h3>

    <div class="well request{{r.status}} {{wellCollapse}}" ng-repeat="r in filtered = (group | search:searchText.$)">

        <div class="statusBackground">{{r.status}}</div>

        <h4>
            <span class="btn btn-{{r.openSeatsClass}} availSeats" disabled>
                <i class="fa fa-{{r.icon}}" title="{{r.status}}"></i>
            </span>
            <span class="text-{{r.openSeatsClass}}">{{r.Course.PDS}} - {{r.reqSeats}} Requested ({{r.openSeats}} Open)</span>
            <span class="pull-right" style="letter-spacing: .1em">{{r.start}} - {{r.end}}
                <icon path="calendar_range"/>
        </h4>

        <hr class="rollup">

        <div class="rollup">

            <p class="lead" ng-hide="groupBy=='course'">{{r.Course.Number}}: {{r.Course.Title}}</p>

            <div class="col-lg-6 pull-left text-lg">

                <p>
                    <i class="fa fa-map-marker" title="Location"></i>{{r.det.Base}} (Detachment {{r.det.Det}})
                </p>

                <p>
                    <icon path="instructor" hover="Instructor"/>
                    {{r.instructor}}
                </p>

                <p>
                    <i class="fa fa-inbox" title="Date request submitted"></i>{{r.Created}}
                </p>

            </div>

            <div class="col-lg-6 pull-right text-right">

                <p ng-repeat="s in r.Students.results">
                    <icon path="student_hand" hover="Requested Student"/>
                    <a href="mailto:{{s.WorkEMail}}{{r.mail}}">{{s.Name}}</a><br>
                    <span ng-show="s.WorkPhone">
                        <i class="fa fa-earphone" title="Student's Phone"></i>&nbsp;{{s.WorkPhone}}
                    </span>
                    <br>
                </p>

            </div>

            <div class="clearfix"></div>

            <div class="well-lg">

                <blockquote>
                    <p style="color:#777">{{r.notes}}</p>
                    <small><a href="mailto:{{r.CreatedBy.WorkEMail}}{{r.mail}}">{{r.CreatedBy.Name}}
                        ({{r.CreatedBy.WorkPhone}})</a></small>
                </blockquote>

            </div>

            <div class="requestActions">
                <hr>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-labeled btn-muted"><span class="btn-label"><i
                            class="fa fa-thumbs-up"></i></span>&nbsp;Approve
                    </button>
                    <button type="button" class="btn btn-danger btn-labeled btn-muted"><span class="btn-label"><i
                            class="fa fa-thumbs-down"></i></span>&nbsp;Deny
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

</div>
