<div class="clearfix" ng-show="groupBy">

    <div class="btn-group pull-left">
        <button class="btn text">GROUP BY:</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'MDS'">MDS</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'unit'">Unit</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'AFSC'">AFSC</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'availability'">Open Seats</button>
    </div>

    <div class="btn-group">
        <button class="btn text">SORT BY:</button>
        <button type="button" class="btn btn-link" sorter="Start" text="Start Date" default></button>
        <button type="button" class="btn btn-link" sorter="course" text="Course"></button>
        <button type="button" class="btn btn-link" sorter="unit" text="Unit"></button>
        <button type="button" class="btn btn-link" sorter="AFSC"></button>
    </div>

    <div class="pull-right">
        <input type="search" class="search" ng-model="searchText.$"/>
    </div>

</div>


<div class="{{wellCollapse}}">

    <div ng-repeat="(header, group) in groups">

        <h3
                style="border-bottom: 1px solid; margin-top:20px; margin-bottom:15px"
                ng-show="filtered.length">{{header}} <span class="pull-right">{{filtered.length}}<span ng-hide="filtered.length == group.length"> of {{group.length}}</span></span>
        </h3>

        <div class="well" ng-repeat="r in filtered = (group | search:searchText.$)">
            <h4>
                <span class="btn btn-{{r.openSeatsClass}} availSeats" disabled>{{r.openSeats}} Open</span>
                <span class="rollupOnly">{{r.Course.PDS}} - {{r.Course.Number}}</span>
            <span class="pull-right" style="letter-spacing: .1em">
                {{r.start}} {{r.start}} - {{r.end}}
                <i class="fa fa-calendar"></i>
            </span>
            </h4>

            <hr class="rollup">

            <div class="rollup">

                <div class="col-lg-8 pull-left">

                    <table class="table table-split">
                        <thead>
                        <th colspan="3">{{r.Course.PDS}} - {{r.Course.Number}}: {{r.Course.Title}}</th>
                        </thead>
                        <tbody>
                        <tr ng-show="r.Instructor.bio">
                            <td rowspan="7" colspan="1" style="border-right: none;width:175px;padding-top: 20px">
                                <photo size="150px" shape="rectangle" class="img-rounded" data="{{r.Instructor.bio}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{r.det.Base}} (Detachment {{r.det.Det}})</td>
                        </tr>
                        <tr>
                            <td>Instructor</td>
                            <td>{{r.instructor}}</td>
                        </tr>
                        <tr>
                            <td>MDS</td>
                            <td>{{r.Course.MDS}}</td>
                        </tr>
                        <tr>
                            <td>AFSC</td>
                            <td>{{r.Course.AFSC}}</td>
                        </tr>

                        <tr>
                            <td>Days</td>
                            <td>{{r.Course.Days}}</td>
                        </tr>
                        <tr>
                            <td>Hours</td>
                            <td>{{r.Course.Hours}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-2 pull-right text-right">

                    <table class="table table-split">
                        <thead>
                        <th colspan="2" class="text-right">TRAINING SEATS</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Host</td>
                            <td class="text-center">{{r.Host}}</td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td class="text-center">{{r.Other}}</td>
                        </tr>
                        <tr>
                            <td>Approved</td>
                            <td class="text-center">{{r.approvedSeats}}</td>
                        </tr>
                        <tr style="border-top:2px solid;">
                            <td>Minimum</td>
                            <td class="text-center">{{r.Course.Min}}</td>
                        </tr>
                        <tr>
                            <td>Maximum</td>
                            <td class="text-center">{{r.Course.Max}}</td>
                        </tr>
                        <tr style="border-top:2px solid;">
                            <td>Pending</td>
                            <td class="text-center">{{r.pendingSeats}}</td>
                        </tr>
                        <tr>
                            <td>Available</td>
                            <td class="text-center">{{r.openSeats}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="clearfix"></div>

                <div class="requestActions">
                    <hr>
                    <div class="pull-right">
                        <button type="button"
                                class="btn btn-success btn-labeled btn-muted"
                                ng-click="add(r)"
                                ng-show="r.openSeats">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>&nbsp;Request Seats
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-labeled btn-muted"
                                ng-show="r.requestCount"
                                ng-click="view(r)">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span>&nbsp;View Requests
                        </button>
                        <button type="button"
                                class="btn btn-warning btn-labeled btn-muted"
                                ng-click="edit(r.Id)">
                        <span class="btn-label">
                            <i class="fa fa-pencil"></i>
                        </span>&nbsp;Edit Class
                        </button>
                        <button type="button"
                                class="btn btn-danger btn-labeled btn-muted"
                                ng-click="archive(r.Id)">
                        <span class="btn-label">
                            <i class="fa fa-trash-o"></i>
                        </span>&nbsp;Cancel Class
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>

    </div>

</div>