
.alert [class^=icon-], .alert [class*=" icon-"] {
    color: #f1c359;
    display: inline-block;
    font-size: 27px;
    margin-bottom: 8px;
    margin-right: 17px;
    position: relative;
    top: 4px
}

.alert-success [class^=icon-], .alert-success [class*=" icon-"] {
    color: #81ad53
}

.alert-info [class^=icon-], .alert-info [class*=" icon-"] {
    color: #4993c6
}

.alert-danger [class^=icon-], .alert-danger [class*=" icon-"] {
    color: #d5393e
}

.alert-info .icon {
    color: #4993c6;
    fill: #4993c6 !important;
    stroke: #4993c6 !important;
    float: left;
    width: 1.5em;
    height: 1.5em;
}
