.repeater-enter,
.repeater-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display: block;
}

.repeater-enter.repeater-enter-active,
.repeater-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.repeater-leave.repeater-leave-active,
.repeater-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}
