
html, body {
    height: 100%
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative
}

h1, h2, h3, h4, h5 {
    color: #29323d;
    line-height: inherit;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

h1 small, h2 small, h3 small, h4 small, h5 small {
    font-style: italic;
    margin-left: 15px
}
