
html, body {
    height: 100%;
    width:100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative
}

h1, h2, h3, h4, h5 {
    line-height: inherit;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

h1 small, h2 small, h3 small, h4 small, h5 small {
    font-style: italic;
    margin-left: 15px
}

a, a:hover, a:active, a:focus {
    outline: 0!important;
}

a, a:hover {
    text-decoration: none;
}

#mainView a {
    border-bottom: 1px dotted;
}

#mainView a:hover {
    border-bottom: 1px solid;
}

.nav a {
    cursor: pointer!important;
}

/*
.datepicker .disabled {
    color: #eee!important;
}

.datepicker .old {
    color: #bbb!Important;
}

.datepicker-days tr * {
    width:40px!important;
}*/

.panel-footer {
    height:35px;
}

[ng-dblclick] {
    cursor: pointer;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}