
html, body {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative
}

h1, h2, h3, h4, h5 {
    line-height: inherit;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

h1 small, h2 small, h3 small, h4 small, h5 small {
    font-style: italic;
    margin-left: 15px
}

a, a:hover, a:active, a:focus {
    outline: 0 !important;
}

a, a:hover {
    text-decoration: none;
}

#mainView {
    font-size: 13px;
}
#mainView a {
    border-bottom: 1px dotted;
}

#mainView a:hover {
    border-bottom: 1px solid;
}

.nav a {
    cursor: pointer !important;
}

.panel-footer {
    height: 35px;
}

#mainView .alert-dismissable,
.modal .alert-dismissable {
    padding: 10px 10px 0;
    font-size: 1.1em;
    letter-spacing: .1em;
    line-height: 1.75em;
}

#mainView .alert-dismissable .hideHelp,
.modal .alert-dismissable .hideHelp {
    right: -15px;
    float: right;
    position: relative;

}

#mainView .alert-dismissable .close,
.modal .alert-dismissable .close {
    right: 0;
    top: -3px;
}

.top.alert-dismissable {
    display: block;
    top: 0;
    margin: 0;
    padding: 15px;
    padding-left: 190px;
}