.btn.add-button {
    z-index: 99;
    top: 110px;
    position: fixed!important;
    left: calc(100% - 45px);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn.add-button:hover {
    position: fixed!important;
    right: 0;
    left: auto;
}

.btn-label {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    display: inline-block;
    left: -12px;
    padding: 6px 12px;
    position: relative
}

.btn-labeled {
    padding-bottom: 0;
    padding-top: 0
}

.btn-labeled .text {
    position: relative;
    padding: 6px 0;
    top:4px;
    left: -10px;
    font-size: 1.25em;
}
.btn-group .text {
    background-color: #fff;
    color: #285e8e;
    font-weight: 800;
}

.btn-group .text:hover {
    cursor: default !important;
}

.btn .icon {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn-inline {
    padding: 0;
    font-size: inherit;
    background: none !important;
}

.btn {
    transition: background 750ms ease;
    margin:1px!important;
}

.btn:hover:not(.btn-link) {
    border:1px solid #999;
    margin:0!important;
}

.btn-group .btn {
    margin-right: 0 !important;
}

.support {
    cursor: pointer;
    opacity: .6;
    margin: 10px 10px;
    font-size: 1.25em;
    transition: 500ms ease;
}

.support:hover {
    opacity: 1;
}

.support svg {
    stroke: #fff;
    fill: #fff;
}

#toggleArchive .icon.trash_hide,
#toggleArchive.archived .icon.trash_show,
#toggleExpand .icon.expand,
#toggleExpand.collapsed .icon.collapse {
    display: inline !important;
}

#toggleArchive.archived .icon.trash_hide,
#toggleArchive .icon.trash_show,
#toggleExpand.collapsed .icon.expand,
#toggleExpand .icon.collapse {
    display: none !important;
}

traverse * {
    color:#333!important;
    text-decoration: none!important;
    outline:none!important;
}

.btn {
    border:none;
}

.table-hover tbody tr .btn-muted, .well .btn-muted {
    transition: opacity 500ms ease;
}

.table-hover tbody tr:not(:hover) .btn-muted, .well:not(:hover) .btn-muted {
    color: #111;
    background-color: transparent;
    opacity: .2;
    transition: opacity 500ms ease;
}

#searchButtons svg.icon {
    fill: #777;
}

.btn:hover svg {
    fill:#000!important;
}

.white label svg.icon {
    fill:#fff!important;
}