.archiveOnly{
    display: none;
}

.archived .archiveOnly, .archive .archiveExclude {
    display: inline-block;
}

.aside {
    max-width: 40%;
}

.dragover photo .mask-img {
    cursor: copy;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAC7CAMAAACw7Zc4AAACbVBMVEUAAADMzMzDw8PR0dHPz8/v7+/T09PJycnGxsbLy8vFxcXz8/PHx8fR0dHR0dHIyMjFxcTV1dXKysrR0dHR0dHT09PDwsOqqqrNzc3Ozs7Y2NjFxcVoaGigoKCAgIAdHh2ampqdnZ0KCgp9fX1ra2u/v7+IiIh7e3upqaonJicPEA9XV1ZVVVV6enqmpqZvb28FBAWYmJi8vLwcHRw8PDw7OzuPj48JCAkXGBeLi4u6uroAAAABAQEhISEDAwMiIiIkJCQfHx8gICAcHBwqKiolJSUSEhIEBAQODg4CAgKpqakZGRkPDw8VFRUaGhonJyceHh4RERErKysXFxcjIyNbW1u3t7cMDAwFBQULCwvCwsIzMzMsLCwbGxu0tLQGBgZhYWFfX19ycnKsrKywsLBAQEBUVFQICAgxMTGnp6erq6soKChcXFykpKQUFBRtbW27u7stLS1QUFAQEBCDg4NZWVmioqJ2dnYmJiaGhoYYGBiUlJSlpaW5ublJSUmJiYmcnJxKSkpBQUEHBweCgoKHh4cbHByXl5cUExNxcXFFRUV/f3+8vL1OTk5NTU3BwcE+Pj5MTExjY2NLS0tSUlJWVlahoaEuLi6ysrIwMDC1tbVlZWWRkZFnZ2eoqKgJCQmZmZl8fHx3d3e4uLh0dHRpaWlHR0cgHyBeXl4WFhaBgYG+vr6VlZWWlpYTExObm5svLy9qamoMDQxkZGRaWlqfn594eHhEREQ/Pz+zs7Ojo6Ourq4NDQ2Ojo5GRkavr68xMjFXV1e9vb00NDSSkpJubm55eXkjJCSenp6qqqoyMjICAwJZWFixsbEdHR1R4A1oAAAAHHRSTlMAg/lOeSAurs+Z5D7EQ1i52RikYzgj7wOObg3ZMoFYlwAABTlJREFUeF7s1tVuHEsUQNF2LJkUJYqTvMSfshuGmYzMzMwQZmZmZmbmy/ebEtmSLTmWZrpjzdRD7S9YOlWlOsoSJZPJZDKZTCaTyWQymUwmezMtJOscaSKyvlCQLZ6qj37sq4VjvUPTaM4QjTVABHfqXRnT3ZNX654WFxc/eX52pCQApTpj7E6lKetel86Cyvy6jpuWlKE+1AG0/m/rdBX0VxW4Om32/Nban6pUukpawGsvctuqmev+YLk+k58oh1OAWvcdHJoWBLjQ9n5//adDm08Bj5l1/cMY15KuymkjGIv0QPDRSN/cq1v7eZhCddal4qA3yarT4A45YLh9hjRfFw50v6r6y3y3jEpGk62yD4Y5eHIhNxNCqK33g04nADQlUbUMnD0w/qt3CiNkd0wA8OJSe6aSxFbZiHng/CLgBh4CcGRPR9K/613YfFCzGBhg0+1AKjaIRpyhnXQsBq7JH2rMVVJTG5EYGxTBeoBRzT5FtKrYHmavaKopDAcNimj9i6ZSIZoqjy0GZ+ICctOslZ1ujbUDe5BAPNVFrDZgjdXFH/TE3dP/xEaZVzWX7tWd3LSkSgc33+LinxG9UOpxmitcWn6DekusV3iKeK3En1YRtZjNS8TitO6ieTiQCEul8G8zfaw08FdbZPUSRVMSYGkalxVzHScUs8g6ShXHEmE5ooyb3i09dmusNXZOsC0hlputJllN5FucVha4mEyQNWSS9Z9lVg4+G93Cse5Q6KREONZfaD6WC8cKYJSTKeC0jDIhWba35Ap4iK4JVgrHagQEvPIrvl6pyFNEYs0nPEuy2rne/Bu9XB8eVZSNS876wb6d9DYNxHEYDgUJVHWBC4to04113xfpNxm6KHGG0JDWlZpEjdwWRAQIQ1laEaoCLXyFHrikZRNCxay9VeqZA/5MnEKTiSvhQX/biLzn/+HRjDySR5oO/G2jFKx53NL1gq1UW1K3BrGHgtWKFJh6uIgWGlYPilDtK4aoWKkCxvbWZ+tcl23YB51stewI9ofUuoYIHatX+Tr9AHopWa8UWTf/U1aNVWMp/uzTs67ghcLVCDUr0oPxxsamjX9c07Z2xNuoWUPgGlzGWY6elYbbNC9YrGhabjKHhRcsrjG4inFvWBp3lzcsqaCwhByXE1L0rKiYq8qQVIY8kLYxRsnqwISekEtarELFrKQ0UTiIUUrWEhzLcFG2gcNwaIaM9TYU2r0w2Sq3PP0ELF9yibzAo+llaWb+0yoZ68t66DqYxd+soontTgDvWU8RBS+FbiwEgxVGFKUjVkMUi8FgPUMCohQSeBcA1o5Q9hBia0eVEcNK1n/WdySQrzhcBzJo8J11HZchWFmIa9jiO+s9RuKxihImmn1nHYYJuQCs1hEgiKzGnbs2yW3w9ktUiJT1g5Y1FURWBEcVWauIkLFSFu7dvnTDfceuvsEAGasHcagWwxAZS7DOXJ9K9gCjZHGeNtIKGRqnZQm1OC1LtX+SVWPVWEw45GAV1ZGxJjFiO5TqZxKKZZzmkp9pXtG0Y50ylQuGFazTQwrW6+PhruoWP3xD+kSZSsQx0+VUePykt480E0YZCylMhQLQY6TKN5HpmA0CqwV9PL2Wdp+hOQCsCVgoT5hY9V91Ctbp/oq6EfYbtXn2TCEp1Rc/OzjpL6sOyKAqG+f8ZW2FvTJ3Pl9RJwbx0V9WPXI5XeqCNYElf1lZOPernTokABAIgCB45tRL0jx1kbQgGQXAwouZDrsz/9qvB+ex5VsAAAAAAIxmOR1pFtS8ALTYRXd6AyJnBwFwkYG0AAAAAElFTkSuQmCC');
}

photo img {
    transition: opacity 250ms ease;
}

.dragover photo img {
    transition: opacity 500ms ease;
    opacity: .2;
}

.mask-img {
    position: relative;
    overflow: hidden;
    box-shadow: #666 0px 2px 3px;
    border-radius: 3%;
    background-color: rgb(233, 233, 233);
}

.mask-img.circle {
    border-radius: 50%;
}

.mask-img img {
    width: 100%;
}

.cleanPhoto .mask-img.invalid {
    visibility: hidden;
}

.modal-backdrop.in {
    opacity: 0.6 !important
}

time-ago {
    font-weight: normal !important;
    color: #888 !important;
    float: right;
    font-style: italic;
}

.datepicker tr :nth-child(6), .datepicker tr :nth-child(7) {
    display: none;

}

.datepicker .btn {
    border: none !important;
    box-shadow: none !important;
}

.modal-header, .modal-body, .modal-footer {
    z-index: 999;
}

.leftBigTraverse:hover, .rightBigTraverse:hover {
    transition: opacity 500ms ease;
    opacity: .65;
}

.leftBigTraverse, .rightBigTraverse {
    outline: none !important;
    border: none !important;
    transition: opacity 500ms ease;
    text-decoration: none !important;
    top: 50px;
    opacity: .1;
    color: #fff !important;
    position: absolute;
    font-size: 200px;
    cursor: pointer!important;
}

.withMap .leftBigTraverse, .withMap .rightBigTraverse {
    top: 300px;
}

.leftBigTraverse {
    left: -350px;
}

.rightBigTraverse {
    right: -400px;
}

.spinner img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.spinner, #spinner svg {
    padding: 0;
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.people-picker input {
    width: 100% !important;
}