.input-group.disabled * {
    box-shadow: none;
    font-weight: normal;
    color: #555;
    background: none!important;
    border: none!important;
    cursor: text;
}

.caps * {
    text-transform: uppercase;
}