.header {
    margin-bottom: 60px
}

.header h1, .header h2, .header h3, .header h4, .header h5 {
    float: left;
    margin-top: 5px
}

#pad-wrapper, #mainView, .wrapped {
    height: 100%;
}

#content {
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    background: #fff;
    border-left: 1px solid #dae3e9;
    bottom: 0;
    left: 177px;
    height: calc(100% - 50px);
    position: absolute;
    right: 0;
    top: 50px;
}

.wrapped {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 50px 20px 5px;
}

.wrapped.addNew {
    padding-top: 10px;
}

.wrapped.addNew .alert-dismissable {
    width: calc(100% - 40px);
}

.wrapped.addNew h3 .pull-right {
    margin-right: 40px;
}

#mainView {
    height: calc(100% - 60px);
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
}

#pageActions {
    padding: 10px;
}

.page-header {
    margin-top: 0
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px
}

.no-left-pad {
    padding-left: 0 !important;
}

.no-right-pad {
    padding-right: 0 !important;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w17 {
    width: 17%;
}

.w20 {
    width: 20%
}

.w25 {
    width: 25%
}

.w30 {
    width: 30%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w75 {
    width: 75%;
}

.w85 {
    width:85%;
}
.w95 {
    width:95%;
}