

.item:hover * {
    color: #FFF !important;
    /*background: none !important;*/
}

.modal-dialog .item {
    color:#000!important;
}

.modal-dialog .multi .item {


    /*color: #FFF !important;
    background: #444 !important;*/
    margin-bottom: 2px !important;
}

.modal-dialog .alert-danger {
    margin-bottom: -20px !important;
    padding: 5px !important;
}

.modal-dialog .sending {
    float: left;
    font-size: 1.25em;
    font-weight: 800;
    color: #555;
}

.modal-dialog .sending div {
    display: inline;
}

.modal-dialog input {
    width: 100%;
}

.modal-dialog .well {
    margin-left: 0;
    margin-right: 0;
}

.modal-dialog .row h4 {
    margin-bottom: 3px;
}