
.modal-dialog .row {
    clear: both;
    margin-bottom: .75em;
}

.modal-dialog .alert-danger {
    margin-bottom: -20px !important;
    padding: 5px !important;
}

.modal-dialog .sending {
    float: left;
    font-size: 1.25em;
    font-weight: 800;
    color: #555;
}

.modal-dialog .sending div {
    display: inline-block;
}

.modal-dialog input {
    width: 100%;
}

.modal-dialog .well {
    margin-left: 0;
    margin-right: 0;
}

.modal-dialog .row h4 {
    margin-bottom: 3px;
}

.modal-dialog input, .modal-dialog .selectize-input {
    font-weight: 700;
}

.input-group-selectize {
    margin-bottom: -5px;
}

.input-group .selectize-input {
    border-color: #e3e3e3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    width: 100% !important;
}

.light-bottom {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 4px;
}


#googleModalMap {
    position: absolute;
    right: -425px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width:400px;
    height:300px;
}

#googleModalMap:hover {
    border:3px dotted #428bca;
}