
.item:hover * {
    color: #FFF !important;
    /*background: none !important;*/
}

.modal-dialog .item {
    color: #000 !important;
}

.modal-dialog .multi .item, .modal-dialog .multi .item * {

    color: #FFF !important;
    background: #777 !important;
    margin-bottom: 2px !important;
}

.modal-dialog .multi .item a {
    color: #aaa !important;
}

.modal-dialog .multi .item a:hover {
    color: #fff !important;
}

.modal-dialog .alert-danger {
    margin-bottom: -20px !important;
    padding: 5px !important;
}

.modal-dialog .sending {
    float: left;
    font-size: 1.25em;
    font-weight: 800;
    color: #555;
}

.modal-dialog .sending div {
    display: inline;
}

.modal-dialog input {
    width: 100%;
}

.modal-dialog .well {
    margin-left: 0;
    margin-right: 0;
}

.modal-dialog .row h4 {
    margin-bottom: 3px;
}

.modal-dialog input, .modal-dialog .selectize-input {
    font-weight: 700;
}

.input-group-selectize {
    margin-bottom: -5px;
}

.input-group .selectize-input {
    border-color: #e3e3e3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    width: 100% !important;
}

.light-bottom {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 4px;
    background-image:         linear-gradient(to bottom, #fff, #f4f4f4); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}