
#sidebar-nav {
    float: left;
    margin: 0;
    position: absolute;
    width: 180px
}

#dashboard-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 180px;
}

#dashboard-menu > li > .link {
    color: #000;
    display: block;
    line-height: 21px;
    margin-bottom: 5px;
    margin-left: -15px;
    outline: 0;
    padding: 10px 0px 10px 14px;
    opacity: .5;
    cursor: pointer;
}

#dashboard-menu > li.active > .link, #dashboard-menu li:hover .link {
    opacity: 1 !important;
}

#dashboard-menu > li.active > .link, #dashboard-menu > li > .link:hover {
    text-decoration: none
}

.hosts .hosts .pointer,
.backlog .backlog .pointer,
.requirements .requirements .pointer,
.scheduled .scheduled .pointer,
.requests .requests .pointer,
.catalog .catalog .pointer,
.units .units .pointer,
.instructors .instructors .pointer,
.students .students .pointer {
    display: block !important;
}

.hosts .hosts *,
.backlog .backlog *,
.requirements .requirements *,
.scheduled .scheduled *,
.requests .requests *,
.catalog .catalog *,
.units .units *,
.instructors .instructors *,
.students .students * {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    opacity: 1 !important;
}

#dashboard-menu .pointer {
    position: absolute;
    right: 9px;
    top: 10px
}

#dashboard-menu .pointer .arrow, #dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 11px;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0 auto 0 45%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002
}

#dashboard-menu .pointer .arrow_border {
    border-color: transparent #c0d2dd transparent transparent;
    border-style: solid;
    border-width: 11px;
    margin-left: -1px;
    top: 0;
    z-index: 1001
}

#dashboard-menu li {
    position: relative;
}

#dashboard-menu .link span {
    transition: color .1s linear
}

#dashboard-menu .link.ui-elements span {
    margin-left: 25px
}

#dashboard-menu ul.submenu, #dashboard-menu li h4 {
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFF;
    list-style-type: none;
    margin: 30px -15px 0px -15px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-weight: 700;
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 2px
}

.navbar {
    height: 50px;
    border-radius: 0px;
}

.link {
    transition: 300ms ease;
}