
#sidebar-nav {
    float: left;
    margin: 0;
    position: absolute;
    width: 180px
}

#dashboard-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 180px;
}

#dashboard-menu > li > .link {
    color: #000;
    display: block;
    line-height: 21px;
    margin-bottom: 5px;
    margin-left: -15px;
    outline: 0;
    padding: 10px 0px 10px 14px;
    opacity: .5;
    cursor: pointer;
}

#dashboard-menu > li.active > .link, #dashboard-menu li:hover .link {
    opacity: 1 !important;
}

#dashboard-menu > li.active > .link, #dashboard-menu > li > .link:hover {
    text-decoration: none
}
/*
.wait .hosts .hosts .loader-bar,
.wait .backlog .backlog .loader-bar,
.wait .requirements .requirements .loader-bar,
.wait .scheduled .scheduled .loader-bar,
.wait .requests .requests .loader-bar,
.wait .catalog .catalog .loader-bar,
.wait .units .units .loader-bar,
.wait .instructors .instructors .loader-bar,
.wait .students .students .loader-bar {
    height: 12px;
    border: 1px #ccc solid;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(-45deg, #5bc0de 25%, transparent 25%, transparent 50%, #5bc0de 50%, #5bc0de 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #5bc0de 25%, transparent 25%, transparent 50%, #5bc0de 50%, #5bc0de 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 50px;
    }
}

@-ms-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 50px;
    }
}*/

.hosts .hosts .pointer,
.backlog .backlog .pointer,
.requirements .requirements .pointer,
.scheduled .scheduled .pointer,
.requests .requests .pointer,
.catalog .catalog .pointer,
.units .units .pointer,
.instructors .instructors .pointer,
.students .students .pointer {
    display: block !important;
}

.hosts .hosts *,
.backlog .backlog *,
.requirements .requirements *,
.scheduled .scheduled *,
.requests .requests *,
.catalog .catalog *,
.units .units *,
.instructors .instructors *,
.students .students * {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    opacity: 1 !important;
}

#dashboard-menu .pointer {
    position: absolute;
    right: 9px;
    top: 10px
}

#dashboard-menu .pointer .arrow, #dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 11px;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0 auto 0 45%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002
}

#dashboard-menu .pointer .arrow_border {
    border-color: transparent #c0d2dd transparent transparent;
    border-style: solid;
    border-width: 11px;
    margin-left: -1px;
    top: 0;
    z-index: 1001
}

#dashboard-menu li {
    position: relative;
}

#dashboard-menu .link span {
    transition: color .1s linear
}

#dashboard-menu .link.ui-elements span {
    margin-left: 25px
}

#dashboard-menu ul.submenu, #dashboard-menu li h4 {
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFF;
    list-style-type: none;
    margin: 30px -15px 0px -15px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-weight: 700;
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 2px
}

.navbar {
    height: 50px;
    border-radius: 0px;
}

.link {
    transition: 300ms ease;
}