#searchContainer {
    margin: 0 265px 0 50px;
}

.optgroup.mastercourselist .optgroup-header {
    content: 'Course'
}

#tagBox .selectize-dropdown-content {
    max-height: 500px;
}

.selectize-dropdown .optgroup:before {
    display: none !important;
}

.selectize-dropdown .optgroup-header {
    background: none !important;
    font-size: 1.5em;
    line-height: 1.42857143;
    padding: 8px 5px;
    color: #888;
}

.optgroup .option {
    margin: 0 5px 0 0 !important;
    overflow: hidden;
    padding: 2px 5px !important;
    text-overflow: ellipsis;
    white-space: nowrap
}

.optgroup {
    margin-top: -5px;
    background-color: #f5fafc !important;
    background-image: linear-gradient(to right, #fafaff, #fff);
    border-left: 1px solid #ddd;
}

.optgroup.smartfilters {
    background: none !important;
    border-bottom: 1px solid;
    height: auto !important;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%
}

.optgroup.smartfilters .option {
    float: left;
    font-weight: 800;
    margin: 5px !important;
    padding-right: 15px;
    font-style: italic;
    font-size: 1.15em;
}

.optgroup.afsc .option, .optgroup.mds .option {
    font-weight: 800;
}

.optgroup.count-1 {
    width: 100%;
}

.optgroup.count-2 {
    width: 50%
}

.optgroup.count-3 {
    width: 33%
}

.optgroup.count-4 {
    max-width: 25%;
}

.optgroup.instructors.count-7, .optgroup.instructors.count-6, .optgroup.instructors.count-5 {
    width: 20%
}

.optgroup.mastercourselist.count-7, .optgroup.mastercourselist.count-6, .optgroup.mastercourselist.count-5 {
    width: 40%
}

#tagBox .selectize-input .item, .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#tagBox .selectize-input.has-items input {
    top: -0.4em;
}

#tagBox .selectize-input input {
    font-size: 1.2em;
}

#tagBox .item:not(.processed):not(:hover), #tagBox .item:not(.processed):not(:hover) div * {
    color: #47a447 !important;
    font-weight: 800;
    background: transparent;
}

#searchContainer.tagBox #searchBox, #searchContainer #tagBox {
    display: none;
}

#searchContainer #searchBox, #searchContainer.tagBox #tagBox {
    display: block;
}

#tagBox .item.processed {
    background-color: transparent;
    color: #555;
}

.multi .item, #tagBox .item.matched {
    background: #555;
    margin-bottom: 2px !important;
    color: #fff;
}

.item.matched:before {
    color: #fff;
    content: "\2713\00a0\00a0";
}

.item:hover {
    background-color: #5bc0de !important;
    color: #FFF !important;
}

.item small, .item em {
    display: none !important;
}

.show-em .item em {
    display: inline !important;
    font-style: normal;
}

.option h5 {
    font-weight: 800;
}

.option em {
    font-style: normal;
}

right {
    display: inline-block;
    float: right;
}

.selectize-dropdown .active * {
    color: #fff !important;
}

.selectize-dropdown .active {
    color: #ffffff !important;
    background-color: #5bc0de;
}

.item a, .item a:hover {
    border: none;
}

.option.selected:hover {
    background: none !important;
    cursor: not-allowed;
}

.option.selected, .option.selected * {
    color: #777 !important;
}

.option.selected small {
    margin-left: 20px !important;
}

.multi .selected h5:before, .multi .optgroup:not(.mastercourselist) .selected:before, .single .selected:before {
    content: "\2713\00a0\00a0";
}

.wide .item * {
    background-color: transparent !important;
    color: #000 !important;
}

.wide .item {
    background-color: transparent !important;
    border-bottom: 1px solid #5bc0de !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.wide .item em {
    display: inline !important;
    font-style: normal;
}

.optgroup {
    float: left
}

.pds .item {
    text-align: left;
    letter-spacing: .1em;
    width:55px;
}
/*

[data-group="SMART FILTERS"] {
    width:100%!important;
}

[data-group="SMART FILTERS"] .optgroup-header {
    display:none;
}
[data-group="SMART FILTERS"] .option {
    float:left;
}*/
