.icon {
	display: inline-block;
	width: 1.35em;
	height: 1.25em;
    margin: .2em .3em -.2em;
    fill: #333333;
    pointer-events: none;
}

.btn .icon {
    margin:0 -.25em -.45em;
}

h4 .icon,.input-group-addon .icon {
    width: 1.5em;
}

.white.icon, .white .icon {
    fill: #fff;
}

.icon.af_logo {
    margin-left: 0;
    width:2.5em;
    height: 2em;
}

.well:hover .invert .icon, tr:hover .btn .icon, .invertSimple .icon {
    fill: #fff !important;
}

.frozen .icon {
    fill: #428bca !important;
}

#spinner svg.icon {
    fill:#555!important;
}
.wait #spinner label{
    visibility: visible;
    transition: opacity 100ms linear;
    opacity: 1;
}

#spinner label {
    visibility: hidden;
    transition-delay: 200ms;
    transition:visiblity 0s, opacity 1s ease;
    opacity: 0;
    font-size: 12em;
    margin: 10% 30%;
    position: absolute;
}
