#stats {
    position: absolute;
    width:50px
}

#stats .badge {
    border-radius: 6px 0 0 6px;
    background: #333;
    font-size: 18.5px;
    line-height: 1.6em;
    text-align: center;
    width:100%;
    padding-left: 10px;
}

#stats .badge.overload {
    background: #d58512;
}

#stats .badge span {
    display: none;
}

#stats .badge.overload span {
    display: inline;
}