
.table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.table.table-split tr td:first-child {
    text-align: right;
    border-right: 1px solid rgb(221, 221, 221);
    letter-spacing: .2em;
}

.table.table-split tr td:first-child + td {
    font-weight: 700;
}

.table.no-border * {
    border: none !important;
}

.table-center * {
    text-align: center;
}

.table thead.slim {
    visibility: hidden;
    display: table-footer-group;
}

.table-hover tbody tr:not(:hover) .btn-muted, .well:not(:hover) .btn-muted {
    color: #111;
    background-color: #eee;
    border-color: #bbb;
    opacity: .2;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5fafc;
    color: #428bca;
    fill:#428bca!important;
    stroke:#428bca!important;
}

.table-expanded tr td {
    padding: 15px 10px 15px !important;
}

td .peek {
    visibility: hidden;
}

tr:hover td .peek {
    visibility: visible;
}

.table-tiny {
    display: block;
    line-height: 20px;
    margin: -15px;
    float: left;
    width: 33%;
    font-size: .85em;
}

.table-tiny th {
    text-align: center;
}

.table-tiny td {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 5px 13px;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.middle td {
    vertical-align: middle !important;
}

table th {
    text-transform: uppercase;
}

table thead.tableFloatingHeaderOriginal {
    background: #fff;
}

tr.archived:not(:hover) * {
    text-decoration: line-through;
    color:#bbb;
    font-weight: normal!important;
}

tr.archived .btn.archive {
    visibility: visible;
}

tr.archived .btn.no-archive,.btn.archive {
    visibility: hidden;
}

tr.thin td {
    padding:5px!important;
}

tr.thin button {
    font-size: .5em!important;
}