
.label, .badge {
    font-size: 90%;
    font-weight: lighter
}

.container .text-muted {
    margin: 20px 0
}

.tooltip-inner {
    max-width: 500px
}

#mainView, .wait #spinner {
    display: block;
}

.wait #mainView, #spinner {
    display: none;
}

.table th.sortable:hover, #dashboard-menu ul.submenu a:hover {
    text-decoration: underline
}

#dashboard-menu > li:hover i, #dashboard-menu > li.active i {
    opacity: 1
}

#dashboard-menu ul.submenu.active, .active .pointer {
    display: block
}

#dashboard-menu .pointer, .optgroup.smartfilters .optgroup-header, .collapsed .statusBackground {
    display: none
}

.active .pointer {
    display: block !important;
}

.items.disabled {
    border: none;
    font-weight: 800;
}

.disabled .remove {
    display: none !important;
}

#searchButtons button {
    margin-top: 1px;
    padding: 7px;
}

.groupMDS .MDS, .groupAFSC .AFSC {
    display: none;
}

.searching h3, .searching thead {
    display: none;
}

.searching thead.first {
    display: table-header-group;
}

.searching table {
    margin-bottom: 0;
}

.MDS, .AFSC, .HOURS {
    width: 125px;
}

.ACTIONS {
    width: 150px;
}

.well:hover .invert .icon *, tr:hover .invert .icon *, .invertSimple .icon * {
    fill: #fff !important;
    stroke: #fff !important;
}

.frozen .icon {
    fill: #428bca !important;
    stroke: #428bca !important;
}

#sort-group-search {
    margin-bottom: 25px;
}

.modal-dialog input:focus {
    background-color: #f3f7f8;
    color: #3a87ad;
    font-weight: 800;
}

right {
    margin-left: 1em;
}

.bigLetter {
    font-size: 2em;
    line-height: .75em;
    vertical-align: bottom;
    margin-right: .25em;
}

/* Main stats up of screen */
#main-stats {
    background-color: #fdfdfd;
    border-bottom: 1px solid #efeef3;
}

#main-stats .stats-row {
    box-shadow: inset -1px 0px 5px 2px #f9f9f9;
    margin: 0;
}

#main-stats .stat {
    text-align: right;
    padding: 25px 0px 30px 0px;
    border-right: 1px solid #e8e9ee;
    position: relative;
    box-shadow: 1px 0px 0px 0px white;
}

#main-stats .stat.last {
    border-right: 0px;
}

#main-stats .stat .data {
    color: #29323a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-right: 50px;
}

#main-stats .stat .data .number {
    color: #32a0ee;
    font-size: 25px;
    margin-right: 15px;
}

#main-stats .stat .date {
    color: #b4b8bb;
    font-weight: lighter;
    font-family: 'Lato', 'Open Sans';
    font-style: italic;
    font-size: 13px;
    position: absolute;
    right: 50px;
}