
.label, .badge {
    font-size: 90%;
    font-weight: lighter
}

.container .text-muted {
    margin: 20px 0
}

.tooltip-inner {
    max-width: 500px
}

#mainView {
    display: block;
}

.wait #mainView {
    display: none;
}

.table th.sortable:hover, #dashboard-menu ul.submenu a:hover {
    text-decoration: underline
}

#dashboard-menu > li:hover i, #dashboard-menu > li.active i {
    opacity: 1
}

#dashboard-menu ul.submenu.active, .active .pointer {
    display: block
}

#dashboard-menu .pointer, .optgroup.smartfilters .optgroup-header, .collapsed .statusBackground {
    display: none
}

.active .pointer {
    display: block !important;
}

.items.disabled {
    border: none;
    font-weight: 800;
}

.disabled .remove {
    display: none !important;
}

#searchButtons button {
    margin-top: 1px;
    padding: 7px;
}

.groupMDS .MDS, .groupAFSC .AFSC {
    display: none;
}

.searching h3, .searching thead {
    display: none;
}

.searching thead.first {
    display: table-header-group;
}

.searching table {
    margin-bottom: 0;
}

#sort-group-search {
    margin-bottom: 25px;
}

.modal-dialog input:focus {
    background-color: #f3f7f8;
    color: #3a87ad;
    font-weight: 800;
}
right {
    margin-left: 1em;
}

.bigLetter {
    font-size: 2em;
    line-height: .75em;
    vertical-align: bottom;
    margin-right: .25em;
}