
.label, .badge {
    font-size: 90%;
    font-weight: lighter
}

.modal-backdrop.in {
    opacity: 0.5 !important
}

div[ng-transclude] {
    position: relative;
}

.container .text-muted {
    margin: 20px 0
}

.requestPending .statusBackground {
    bottom: 25px;
}

.requestPending:hover .statusBackground {
    color: #5bc0de;
    opacity: .15;
}

.requestApproved:hover .statusBackground {
    color: #5cb85c !important;
    opacity: .15;
}

.requestDenied:hover .statusBackground {
    color: #d9534f !important;
    opacity: .15;
}

#messages {
    word-wrap: break-word
}

.tooltip-inner {
    max-width: 500px
}

.no-pad {
    padding: 0 !important
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 2px
}

#stats {
    float: left;
    width: 3%;
}

#stats .badge {
    background: #333;
    font-size: 18px;
    margin-top: 2px;
    line-height: 1.5em;
    text-align: center;
}

#stats .badge.overload {
    background: #d58512;
}

#stats .badge span {
    display: none;
}

#stats .badge.overload span {
    display: inline;
}

#mainView, .wait #spinner {
    display: block;
}

.wait #mainView, #spinner {
    display: none;
}

.table th.sortable:hover, #dashboard-menu ul.submenu a:hover {
    text-decoration: underline
}

#dashboard-menu > li:hover i, #dashboard-menu > li.active i {
    opacity: 1
}

#dashboard-menu ul.submenu.active, .active .pointer {
    display: block
}

#dashboard-menu .pointer, .optgroup.smartfilters .optgroup-header, .collapsed .statusBackground {
    display: none
}

.collapsed .rollup {
    display: none !important;
}

.active .pointer {
    display: block !important;
}

.items.disabled {
    border: none;
    font-weight: 800;
}

.disabled .remove {
    display: none !important;
}

.availSeats {
    margin: -1px 0 0;
    font-size: inherit;
    padding: 0 8px;
    opacity: 1 !important;
}

.bold, .bold * {
    font-weight: 800 !important;
}

#searchButtons button {
    margin-top: 1px;
    padding: 7px;
}

#toggleExpand .icon-expand, #toggleExpand.collapsed .icon-collapse {
    display: inline-block !important;
}

#toggleExpand.collapsed .icon-expand, #toggleExpand .icon-collapse {
    display: none !important;
}

.groupMDS .MDS, .groupAFSC .AFSC {
    display: none;
}

.requestDenied h4, .requestApproved h4 {
    color: #000 !important;
}

.icon {
    margin: 0 .3em;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

.icon-time {
    height: 1.35em !important;
}

.searching h3, .searching thead {
    display: none;
}

.searching thead.first {
    display: table-header-group;
}

.searching table {
    margin-bottom: 0;
}

.MDS, .AFSC, .HOURS {
    width: 125px;
}

.ACTIONS {
    width: 150px;
}

.mask-img {
    position: relative;
    overflow: hidden;
    box-shadow: #666 0px 2px 3px;
    border-radius: 3%;
}

.mask-img.circle {
    border-radius: 50%;
}

.mask-img img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.well:hover .invert .icon *, tr:hover .invert .icon *, .invertSimple .icon * {
    fill: #fff !important;
    stroke: #fff !important;
}

.frozen .icon {
    fill: #428bca !important;
    stroke: #428bca !important;
}

#sort-group-search {
    margin-bottom: 25px;
}

.requestActions .requestStats {
    color: #428bca;
    display: none;
}

.navbar {
    height: 50px;
    border-radius: 0px;
}

svg {
    margin-bottom: -.25em;
}

.modal-dialog input:focus {
    background-color: #f3f7f8;
    color: #3a87ad;
    font-weight: 800;
}

[hover] {
    cursor: pointer;
}

.popover [hover]:hover {
    color: #4993c6;
}

dd small {
    color: #999 !important;
    font-size: .75em !important;
    text-transform: uppercase;
}

dt.tiny {
    width: 50px;
}

dt.tiny + dd {
    margin-left: 65px;
}

.border-bottom {
    border-bottom: 1px solid;
    margin-bottom: 5px
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}