.well hr {
    border-color: #333
}

.well a:hover {
    border-bottom: 1px solid;
    text-decoration: none
}

.well:not(.well-sm) {
    font-size: 1.1em;
    position: relative;
    max-height: 1000px;
    transition: all 1s;
}

.collapsed .well {
    max-height: 35px !important;
    overflow: hidden;
}

.well .rollup,.well .collapsed .rollupOnly {
    opacity: 1;
    transition: opacity 2s ease;
}
.wel .collapsed .rollup,.well .rollupOnly {
    opacity: 0!important;
    transition: opacity 1s ease;
}

.well a {
    color: #555;
}

.well:hover a {
    color: #428bca;
}

.well:hover .requestStats {
    display: block;
}

.well h4 {
    text-transform: uppercase
}

.collapsed .well {
    margin-bottom: 5px;
    padding: 0 15px
}

.collapsed h4 {
    font-weight: 100
}

.well .input-group-addon {
    background: #fafafa;
}