<!DOCTYPE html>
<html ng-app="FTSS">
<head>
    <title>AETC Field Training Support System 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css">
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="css/theme.css">


    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/smart-table/Smart-Table.debug.js"></script>
    <script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.js"></script>
    <script type="text/javascript" src="bower_components/angular-selectize/angular-selectize.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/lz-string/libs/lz-string-1.3.3.js"></script>

</head>
<body ng-controller="mainController">

<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            <i class="glyphicon glyphicon-globe"></i>&nbsp;
            <span>FTSS 3</span>
        </a>
    </div>
    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="hidden-xs hidden-sm">
            <input class="search" type="text">
        </li>

        <li class="dropdown" ng-controller="user">
            <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                {{userName}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="personal-info.html">Personal info</a></li>
                <li><a href="#">Account settings</a></li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">Export your data</a></li>
                <li><a href="#">Send feedback</a></li>
            </ul>
        </li>

        <li class="settings hidden-xs hidden-sm">
            <a href="signin.html" role="button">
                <i class="icon-share-alt"></i>
            </a>
        </li>
    </ul>
</header>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">

        <li ng-class="isPage('home')">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="#" class="{{loading}}">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
                <img class="badge" src="img/spinner-small.gif"/>
            </a>
        </li>

        <li ng-class="isPage('scheduled')">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="#/scheduled/{{permaLink}}" class="{{loading}}">
                <i class="glyphicon glyphicon-calendar"></i>
                <span>Classes</span>
                <span class="badge">{{count.results}}</span>
                <img class="badge" src="img/spinner-small.gif"/>
            </a>
        </li>

        <li ng-class="isPage('requests')">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="#/requests/{{permaLink}}" class="{{loading}}">
                <i class="glyphicon glyphicon-time"></i>
                <span>Requests</span>
                <span class="badge">{{count.results}}</span>
                <img class="badge" src="img/spinner-small.gif"/>
            </a>
        </li>

        <li ng-class="isPage('instructors')">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="#/instructors/{{permaLink}}" class="{{loading}}">
                <i class="glyphicon glyphicon-user"></i>
                <span>Instructors</span>
                <span class="badge">{{count.results}}</span>
                <img class="badge" src="img/spinner-small.gif"/>
            </a>
        </li>

        <!--
                <li class="active">

                    <a href="index.html">
                        <i class="icon-home"></i>
                        <span>Home</span>
                    </a>
                </li>


                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-share-alt"></i>
                        <span>Extras</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="code-editor.html">Code editor</a></li>
                        <li><a href="grids.html">Grids</a></li>
                        <li><a href="signin.html">Sign in</a></li>
                        <li><a href="signup.html">Sign up</a></li>
                    </ul>
                </li>-->
    </ul>
</div>
<!-- end sidebar -->


<div class="content">
    <div id="pad-wrapper">

        <div class="row">

            <div ng-show="loaded && !isPage('home')">

                <div class="col-lg-12 no-pad">
                    <div class="col-lg-11">

                        <select
                                class="hide"
                                selectize="selectizeOptions"
                                multiple placeholder="Click or type to add search terms" style="width:100%">

                            <optgroup label="">
                                <option value="*">Find EVERYTHING for this page (this could take a minute)</option>
                            </optgroup>

                            <optgroup label="SMART FILTERS">
                            </optgroup>

                            <optgroup label="UNIT">
                                <option ng-repeat="u in Units" value="d:{{u.Id}}" on-finish-render="rendered">{{u.Base}}
                                    (Det.
                                    {{u.Det}})
                                </option>
                            </optgroup>

                            <optgroup label="AFSC">
                                <option ng-repeat="a in AFSC" value="a:{{a}}" on-finish-render="rendered">{{a}}</option>
                            </optgroup>

                            <optgroup label="MDS">
                                <option ng-repeat="m in MDS" value="m:{{m}}" on-finish-render="rendered">{{m}}</option>
                            </optgroup>

                            <optgroup label="INSTRUCTOR">
                                <option ng-repeat="i in Instructors" value="i:{{i.Id}}" on-finish-render="rendered">
                                    {{i.Instructor.Name}}
                                </option>
                            </optgroup>

                            <optgroup label="COURSE">
                                <option ng-repeat="c in MasterCourseList" value="c:{{c.Id}}"
                                        on-finish-render="rendered">
                                    {{c.PDS}} - {{c.Number}} / {{c.Title}} / {{c.MDS}} / {{c.AFSC}}
                                </option>
                            </optgroup>
                        </select>

                    </div>

                    <div class="col-lg-1 no-pad">
                        <button type="button" class="btn btn-default btn-sm" ng-click="reset()">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="collapse()">
                            <span class="glyphicon glyphicon-resize-vertical"></span>
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <hr>

            </div>

            <div id="messages" ng-cloak ng-show="messages.class">
                <div class="alert alert-{{messages.class}}">
                    <b>{{messages.intro}}</b><br ng-show="messages.newLine">{{messages.message}}
                </div>
            </div>

        </div>

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>

</div>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>

