include ../_mixins

- var columns = {Unit:15, 'Local FTD':10}
+tableHeader('Host Unit', columns)

    td: +icon('flag')
    td: b {{row.Unit}}
    td {{row.det.LongName}}
    td: +actions(true, true, false, 'Host Unit')