form(name='modal')

    .modal-header
        h3
            icon location
            | {{data.Unit}}

    .modal-body

        .row
            .col-lg-6
                .input-group
                    .input-group-addon Unit Name
                    input.form-control(ng-model='data.Unit', type='text')

        br

        .row

            .col-lg-6
                h4

            .col-lg-6
                h4
                    b Coordinates
                .input-group
                    .input-group-addon
                        icon location_small
                    input.form-control(ng-model='data.Location', type='text')

        br
        br


    ng-include(src='"/partials/modal-footer.html"')
