include ../__mixins

form(name='modal')

    traverse.withMap

    +googleMap()

    +modalHeader('New Host Unit', "{{data.Unit}}")

    .modal-body

        +userInstructions('modal-hosts')

        .form-horizontal(style='margin-left:20px;margin-right:-25px')

            +formGroupText('Host Unit', 'data.Unit', 'text', true, 'You must enter a unit name.', 'hosts-name')

            +formGroup('Local FTD', 'hosts-ftd')
                .input-group-selectize
                    select(selectize='Units', bind='FTD')

            +formGroupIcon('Unit Email', 'data.Email', 'email', false, 'Make sure you enter a valid email address.', 'hosts-email', 'envelope')

            +formGroupIcon('Location', 'data.Location', 'text', false, false, 'hosts-location', 'globe')

    +modalFooter()
