include ../__mixins

- var columns = {'':10,Instructor:40, Unit:20, AFSC:10}
+tableHeader('Instructor', columns, 'instructors')

    td: +icon('flag')

    td.cleanPhoto(class='{{running(row)}}')
        photo(size='75px', data='row')

    td
        b
            span.archiveOnly  ***ARCHIVED INSTRUCTOR***&nbsp;
            | {{row.InstructorName}}

    td: b {{row.Unit.LongName}}

    td: b {{row.AFSC}}

    td: +actions(true, true, true, 'instructor')