include ../__mixins

- var columns = {'': 15, Unit:10, Base:15, Details:15, Email:30}
+tableHeader(false, columns, 'units')

    td: +icon('flag')

    td: +googleMap(true)

    td.bigLetter {{row.Det}}

    td: b {{row.Base}}

    td
        p(ng-show='row.CoursesHover',
                hover='There are {{row.CoursesMap.length}} courses taught at Det {{row.Det}}:',
                content='<dl class="dl-horizontal">{{row.CoursesHover}}</dl>', style='padding:5px')
            +icon('books')
            | {{row.CoursesMap.length}} Courses

        p(ng-show='row.Instructors',
                hover='There are {{row.InstructorsCount}} instructors assigned to Det {{row.Det}}:',
                content='{{row.Instructors}}', left, style='padding:5px')
            +icon('instructor')
            | {{row.InstructorsCount}} Instructors

    td.lowercase
        a(href='mailto:{{row.Email}}?subject=FTSS', tabindex='-1') {{row.Email}}

    td: +actions(true, true, false, 'FTD')