form(name='modal')

    .modal-header
        h3
            icon location
            | {{data.Squadron}}/Det {{data.Det}}

    .modal-body

        .row
            .col-lg-5
                h4
                    b Base
                .input-group
                    .input-group-addon
                        icon location_small
                    input.form-control(ng-model='data.Base', type='text', required)

            .col-lg-4
            .col-lg-3
                h4
                    b Detachment
                .input-group
                    .input-group-addon
                        icon hash
                    input.form-control(ng-model='data.Det', type='number', min='201', max='399', explain='Type the detachment number as 2XX or 3XX.<example>373 TRS/Det 6 is 306.</example>', show='right', required)
        br

        .row
            .col-lg-12
                h4
                    b FTD Production Supervisor E-mail
                .input-group
                    .input-group-addon
                        icon envelope
                    input.form-control(ng-model='data.Email', type='email', explain='This email address will be used to<br>send any FTD communications from FTSS.<br>Try to use an organizational box if possible.', show='right', required)

        br
        br

        .row
            .col-lg-12(explain='Add all the courses taught by Det {{data.Det}}, they will be listed by PDS.', show='right')
                h4
                    icon instructor
                    b {{data.CoursesCount}} Courses Taught
                select(selectize='selectizeMasterCourseList', multiple='', required)

        .row(style='height: 25px')

        .row.alert.alert-danger(ng-if='!data.Base || !data.Det')
            icon alert
            | Please ensure you enter a valid base and detachment number.

        .row.alert.alert-danger(ng-if='error')
            icon alert
            | {{error}}

    ng-include(src='"/partials/modal-footer.html"')
