include ../_mixins

form(name='modal')

    traverse.withMap

    +googleMap()

    .modal-header
        h3
            +icon('location')
            | Update FTD {{data.Squadron}}/Det {{data.Det}}

    .modal-body

        .row
            .col-lg-4
                h4
                    b Base
                .input-group
                    .input-group-addon
                        +icon('location_small')
                    input.form-control(ng-model='data.Base', type='text')

            .col-lg-3
                h4
                    b Detachment
                .input-group
                    .input-group-addon
                        +icon('hash')
                    input.form-control(ng-model='data.Det', type='number', min='201', max='399', explain='units-edit-number', right)

            .col-lg-5
                h4
                    b Coordinates
                .input-group
                    .input-group-addon
                        +icon('location_small')
                    input.form-control(ng-model='data.Location', type='text', explain='units-edit-coordinates', right)

        br

        .row
            .col-lg-12
                h4
                    b FTD Production Supervisor E-mail
                .input-group
                    .input-group-addon
                        +icon('envelope')
                    input.form-control(ng-model='data.Email', type='email', explain='units-edit-email', right)

        br
        br

        .row
            .col-lg-12.pds(explain='units-edit-courses', right)
                h4
                    +icon('books')
                    b {{data.CoursesCount}} Courses Taught
                select(selectize='MasterCourseList', bind='Courses_JSON', multiple)

    +modalFooter()