include ../__mixins

- var columns = {Course:55, MDS:10, AFSC:10, Length:15}
+tableHeader('Course', columns)

    td: +icon('flag')

    td(style='text-transform: uppercase')

        b {{row.PDS}}
        |&nbsp;-&nbsp;{{row.Number}}&nbsp;

        span(ng-show='row.IMDS')
            |(IMDS: {{row.IMDS}})

        span.pull-right.archiveExclude(ng-show='row.Units',
                        hover='{{row.PDS}} is taught by {{row.Units.length}} FTDs:',
                        content='{{row.units}}',
                        style='margin-right: 15px;')
            +icon('instructor')

        span.pull-right.archiveOnly(style='margin-right:10%') *** ARCHIVED COURSE ***
        br
        span.peek {{row.Title}}

    td
        b {{row.MDS}}

    td
        b {{row.AFSC}}

    td
        | Days:&nbsp;
        b {{row.Days}}
        br
        span.peek
            | Hours:&nbsp;
            b {{row.Hours}}

    td: +actions(false, true, true, 'Course')