include ../__mixins

form.form-horizontal(name='modal')

    traverse

    .modal-header
        h3
            +icon('books')
            | {{createData ? 'Add New Course' : data.PDS + ' - ' + data.Number}}

    .modal-body

        h4.light-bottom
            +icon('search')
            | Course Identifiers & Description

        .row
            .col-lg-3
                .input-group
                    .input-group-addon(style='width:55%') PDS
                    input.form-control(ng-model='data.PDS', type='text', explain='catalog-edit-pds', right)

            .col-lg-5
                .input-group
                    .input-group-addon MDS
                    .input-group-selectize
                        select(selectize='MDS', bind='MDS')

            .col-lg-4
                .input-group
                    .input-group-addon AFSC
                    .input-group-selectize
                        select(selectize='AFSC', bind='AFSC')

        .clearfix(style='height:1em')

        .row
            .col-lg-8
                .input-group
                    .input-group-addon Number
                    input.form-control(ng-model='data.Number', type='text', explain='catalog-edit-number', right)

            .col-lg-4
                .input-group
                    .input-group-addon IMDS
                    input.form-control(ng-model='data.IMDS', type='text', explain='catalog-edit-imds', right)

        .clearfix(style='height:1em')

        .row
            .col-lg-12
                .input-group
                    .input-group-addon(style='width:11.5%') Title
                    input.form-control(ng-model='data.Title', explain='catalog-edit-title', right)

        br
        br

        .row

            .col-lg-6
                h4.light-bottom
                    +icon('wait')
                    | Course Length
                .col-lg-6.no-pad
                    .input-group
                        input.form-control(ng-model='data.Days', type='number', explain='catalog-edit-days', left, min='1', max='120')
                        .input-group-addon Days

                .col-lg-5.no-pad.pull-right
                    .input-group
                        input.form-control(ng-model='data.Hours', type='number', explain='catalog-edit-hours', left, min='8', max='999')
                        .input-group-addon Hrs

            .col-lg-5.pull-right
                h4.light-bottom
                    +icon('student_hand')
                    | Course Seat Limits
                .col-lg-5.no-pad
                    .input-group
                        input.form-control(ng-model='data.Min', type='number', explain='catalog-edit-min', left, min='1', max='9')
                        .input-group-addon Min

                .col-lg-6.no-pad.pull-right
                    .input-group
                        input.form-control(ng-model='data.Max', type='number', explain='catalog-edit-max', left, min='1', max='99')
                        .input-group-addon Max

        br
        br

        .col-lg-4.pull-right.switch-wrapper

            label.switch-light.switch-android
                input(ng-model='data.CAFMCL', type='checkbox')
                span
                    em CAF/MCL
                    span &#x2717;
                    span &#x2713;
                a

        br
        br

        .row.alert.alert-danger(ng-if='!data.PDS || !data.MDS')
            +icon('alert')
            | All fields are required.

        .row.alert.alert-danger(ng-if='error')
            +icon('alert')
            | {{error}}

    +modalFooter()