form.form-horizontal(name='modal')

    .modal-header
        h3
            icon calendar_range
            | Scheduled Class Update

    .modal-body

        .input-group
            .input-group-addon
                icon books
            .input-group-selectize.show-em
                select(selectize='MasterCourseList', required)

        br

        .input-group
            .input-group-addon
                icon location_small
            .input-group-selectize
                select(selectize='Units', required)
        br

        .input-group
            .input-group-addon
                icon instructor
            .input-group-selectize
                select(selectize='Instructors')

        br

        .row.alert.alert-danger(ng-if='!data.PDS || !data.MDS')
            icon(path='alert')
            | All fields are required.

        .row.alert.alert-danger(ng-if='error')
            icon(path='alert')
            | {{error}}

    ng-include(src='"/partials/modal-footer.html"')