form.form-horizontal(name='modal')

    .modal-header
        h3
            icon calendar_range
            | Scheduled Class Update

    .modal-body

        .col-lg-8

            .input-group
                .input-group-addon
                    icon books
                .input-group-selectize.show-em
                    select(selectize='MasterCourseList', bind='CourseId', 'Course')

            br

            .input-group
                .input-group-addon
                    icon location_small
                .input-group-selectize
                    select(selectize='Units', bind='UnitId', 'FTD')
            br

        .col-lg-4

            .input-group
                .input-group-addon Host
                input.form-control(ng-model='data.Host')

            br

            .input-group
                .input-group-addon Other
                input.form-control(ng-model='data.Other')

            br

        .col-lg-12
            .input-group
                .input-group-addon
                    icon instructor
                .input-group-selectize
                    select(selectize='Instructors', bind='InstructorId', watch='UnitId')

        .clearfix

    ng-include(src='"/partials/modal-footer.html"')