include ../_mixins

div(class='{{wellCollapse}}')
    div(ng-repeat='(header, group) in groups')
        h3(style='border-bottom: 1px solid; margin-top:20px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}
        .well(ng-repeat='row in group', ng-once)
            h4
                span(class='btn btn-{{row.openSeatsClass}} availSeats(disabled="")') {{row.openSeats}} Open
                span.rollupOnly {{row.Course.PDS}} - {{row.Course.Number}}
                span.pull-right(style='letter-spacing: .1em')
                    | {{row.start}} - {{row.end}}
                    +icon('calendar_range')
            hr.rollup
            .rollup
                .col-lg-8.pull-left
                    table.table.table-split
                        thead
                            tr
                                th.truncate(colspan='3') {{row.Course.PDS}} - {{row.Course.Number}}: {{row.Course.Title}}
                        tbody
                            tr(ng-show='row.Instructorow.Photo')
                                td(rowspan='7', colspan='1', style='border-right: none;width:175px;padding-top: 20px')
                                    photo.img-rounded(size='150px', shape='rectangle', data='row.Instructor')
                            tr
                                td Location
                                td {{row.det.Base}} (Detachment {{row.det.Det}})
                            tr
                                td Instructor
                                td {{row.instructor}}
                            tr
                                td MDS
                                td {{row.Course.MDS}}
                            tr
                                td AFSC
                                td {{row.Course.AFSC}}
                            tr
                                td Days
                                td {{row.Course.Days}}
                            tr
                                td Hours
                                td {{row.Course.Hours}}
                .col-lg-2.pull-right.text-right
                    table.table.table-split
                        thead
                            tr
                                th.text-right(colspan='2') TRAINING SEATS
                        tbody
                            tr
                                td Host
                                td.text-center {{row.Host}}
                            tr
                                td Other
                                td.text-center {{row.Other}}
                            tr
                                td Approved
                                td.text-center {{row.approvedSeats}}
                            tr(style='border-top:2px solid;')
                                td Minimum
                                td.text-center {{row.Course.Min}}
                            tr
                                td Maximum
                                td.text-center {{row.Course.Max}}
                            tr(style='border-top:2px solid;')
                                td Pending
                                td.text-center {{row.pendingSeats}}
                            tr
                                td Available
                                td.text-center {{row.openSeats}}
                .clearfix
                .requestActions
                    hr
                    .pull-right.invert
                        button.btn.btn-success.btn-labeled.btn-muted(type='button', ng-click='add(r)', ng-show='row.openSeats')
                            span.btn-label
                                +icon('add')
                            | Request Seats
                        button.btn.btn-primary.btn-labeled.btn-muted(type='button', ng-show='row.requestCount', ng-click='view(r)')
                            span.btn-label
                                +icon('search')
                            | View Requests
                        button.btn.btn-warning.btn-labeled.btn-muted(type='button', ng-click='edit(r)')
                            span.btn-label
                                +icon('edit')
                            | Edit Class
                        button.btn.btn-dangerow.btn-labeled.btn-muted(type='button', ng-click='archive(r)')
                            span.btn-label
                                +icon('delete')
                            | Cancel Class
                    .clearfix
