#sort-group-search.clearfix(ng-show='count')
    .pull-right
        input.search(type='search', ng-model='searchText.$', placeholder='Search this page...')
div(class='{{wellCollapse}}')
    div(ng-repeat='(header, group) in groups', style='margin-bottom: 50px')
        h3(style='border-bottom: 1px solid; margin-top:5px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}
        div(class='well request{{r.status}}', ng-class='{"true":"expanded"}', ng-repeat='r in group', ng-once='')
            .statusBackground {{r.status}}
            h4(ng-click='r.expand = !r.expand')
                span(class='btn invertSimple btn-{{r.iconClass}}', style='opacity: 1;', disabled='')
                    icon(path='{{r.icon}}')
                | {{r.Course.PDS}} - {{r.reqSeats}} Requested ({{r.openSeats}} Open)
                span.pull-right(style='letter-spacing: .1em')
                    | {{r.start}} - {{r.end}}
                    icon calendar_range
            hr.rollup
            .rollup
                p.lead(ng-hide='groupBy=="course"') {{r.Course.Number}}: {{r.Course.Title}}
                .col-lg-7.pull-left
                    table.table.table-split.no-border
                        tbody
                            tr
                                td(style='width:150px') Location
                                td(style='width:10px')
                                    icon location
                                td
                                    b {{r.det.Base}} (Detachment {{r.det.Det}})
                            tr
                                td Instructor
                                td
                                    icon instructor
                                td.truncate.bold {{r.instructor}}
                            tr
                                td Requested
                                td
                                    icon sent
                                td
                                    b {{r.Created}}
                            tr
                                td Comments
                                td
                                    icon comments
                                td.bold
                                    button.btn.btn-link.btn-inline.btn-muted(hover='{{r.CreatedBy.Name}} ({{r.CreatedBy.WorkPhone}})', content='{{r.Notes}}')
                                        | By Requester
                                    span(ng-if='r.responseText')
                                        | -
                                        button.btn.btn-link.btn-inline.btn-muted(hover='{{r.responseName}}', content='{{r.responseText}}')
                                            | FTD Response
                .col-lg-5.pull-right.text-right(style='margin-top: 10px')
                    p.truncate(ng-repeat='s in r.Students.results', style='margin-bottom: 10px')
                        icon student_hand
                        a(href='mailto:{{s.WorkEMail}}{{r.mail}}') {{s.Name}}
                        br
                        span(ng-show='s.WorkPhone') {{s.WorkPhone}}
                .clearfix
                .requestActions(ng-if='r.Status < 2')
                    hr
                    .col-lg-9.pull-left.requestStats(style='margin-top: 8px;')
                        table.table-tiny(style='width:20%')
                            thead(style='font-size:1.2em')
                                tr
                                    th {{r.Course.Min}}
                                    th {{r.Course.Max}}
                            tbody
                                tr
                                    td Min
                                    td Max
                        table.table-tiny
                            thead(style='font-size:1.2em')
                                tr
                                    th {{r.Scheduled.Host}}
                                    th {{r.Scheduled.Other}}
                                    th {{r.approvedSeats}}
                            tbody
                                tr
                                    td Host
                                    td Other
                                    td Approved
                        table.table-tiny
                            thead(style='font-size:1.2em')
                                tr
                                    th {{r.reqSeats}}
                                    th {{r.pendingSeats}}
                                    th {{r.openSeats}}
                            tbody
                                tr
                                    td Requested
                                    td Pending
                                    td Open
                    .pull-right
                        button.btn.btn-success.btn-labeled.btn-muted(type='button')
                            span.btn-label.invert
                                icon approve
                            | Approve
                        button.btn.btn-danger.btn-labeled.btn-muted(type='button')
                            span.btn-label.invert
                                icon deny
                            | Deny
                    .clearfix
