XFDL(xmlns:custom='http://www.ibm.com/xmlns/prod/XFDL/Custom', xmlns:designer='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', xmlns:xfdl='http://www.ibm.com/xmlns/prod/XFDL/7.7', xmlns:xforms='http://www.w3.org/2002/xforms', xmlns='http://www.ibm.com/xmlns/prod/XFDL/7.7')
    globalpage(sid='global')
        global(sid='global')
            designer:date 20140425
            formid
                title Electronic 898 - Built 27 April 2014 for FTSS 3
                serialnumber AAA1E3E54FDB4A71:8BC5ACF:1459C3FAF9D:-8000
                version 1.0
            fontinfo
                fontname Calibri
                size 12
            printsettings
                dialog
            saveformat application/vnd.xfdl
    page(sid='PAGE1')
        global(sid='global')
            label PAGE1
            designer:pagesize 960;1260
            printbgcolor transparent
        toolbar(sid='TOOLBAR')
            designer:height 89
            bgcolor #222222
        label(sid='HeaderLogo')
            itemlocation
                within TOOLBAR
                x 0
                y 0
                height 79
                width 780
            image PAGE1.Header1
            imagemode clip
        button(sid='PRINT1')
            itemlocation
                within TOOLBAR
                x 903
                y 7
                width 55
                height 49
            type print
            value Print
            printvisible off
            image PAGE1.printer2
            border off
            bgcolor transparent
            imagemode clip
            next CLOSE1
            previous EMAIL1
        button(sid='SAVE1')
            itemlocation
                within TOOLBAR
                x 787
                y 7
                width 55
                height 49
            type saveas
            value Save
            printvisible off
            image PAGE1.disk2
            bgcolor transparent
            border off
            fontcolor #FFFFFF
            imagemode clip
            next EMAIL1
            previous Month
        button(sid='EMAIL1')
            itemlocation
                within TOOLBAR
                x 845
                y 7
                width 55
                height 49
            type submit
            url mailto:
            value Email
            printvisible off
            image PAGE1.envelope1
            border off
            bgcolor transparent
            imagemode clip
            next PRINT1
            previous SAVE1

        label(sid='Notes_Label')
            itemlocation
                x 41
                y 46
            value Notes
        field(sid='Notes')
            scrollhoriz wordwrap
            scrollvert always
            value <%= Notes %>
            itemlocation
                width 851
                height 55



        label(sid='FTD_LABEL')
            itemlocation
                x 574
                y 120
            value FTD
            format
                datatype string
                presentation
                    casetype upper
            justify right
        field(sid='FTD')
            scrollhoriz wordwrap
            scrollvert fixed
            value <%= FTD.LongName %>
            format
                datatype string
                constraints
                    mandatory on
                presentation
                    casetype upper
            itemlocation
                x 617
                y 120
            next CAFMCL
            previous HOST
        data(sid='disk2')
            filename disk.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAe0lEQVR4Ae3ToRFDIRCE4dRCFeej
                | aYImQCf6ishp4tHoLSokmYHLcBkMM8+8X39y9+IWbQLEj6mbAlTRKqIqQBiA8S45VUITHcgP8DGG
                | D4C3QQLkC+p1ASBHgSByN0F2qqcBkGMvYwZzJ9gPGH/iMXuzSuM4YsS065uLXhJH5yvrgyDrAAAA
                | AElFTkSuQmCC
        data(sid='envelope1')
            filename envelope.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAyElEQVR4Ab3TIXODQBCG4f0tn19/
                | Hn0aTTXooonGx6b6ToM+/f6otnTaIRO4mE4esyte+5meeEkQuvdTncuaQkVp7EpVMp6wlapsI1Vv
                | pkxFlskrRXaZy2dOzC635FJbOFBayZP93CsPri7FggGTS0PhThkkn2ALWKIUMjs5SHHhN4BJ0sif
                | UdIEu4DUSM3KZv3+E/cB9JJf+HJxqYeHgJtLYRyD5DeOAkqnTVc4DiD1MfYLe0bdS4KVqtUGqgZT
                | O3+cmtt/2OYnXIFgGuZO+/AAAAAASUVORK5CYII=
        data(sid='printer2')
            filename printer.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAuklEQVR4AcXRrxKEIBDH8X2W7XT6
                | ZrP9stfpl+lWydDN5t9DnWH9Awp34Wbumxj5OLJI/KGfgjAd3QKc+gOwQ0RRHKyCYrc0xIJGsgKW
                | rpp8c5M2olG05NHsRaENwgFSOJVugOVT9goWzlouYMzBuINt5XLgtveo11WXg04f98TinJsBkwMD
                | zOuG6FUDiYuSHpt0KF8Cr4OTfvBRgqcei/TIUgLRwUiHni4Bfgep8q93gEobMK6SUdDsDervsuCa
                | +fq8AAAAAElFTkSuQmCC
        label(sid='HOST_LABEL')
            itemlocation
                x 0
                y 120
            value Host Unit
            format
                datatype string
                presentation
                    casetype upper
            justify right
        field(sid='HOST')
            scrollhoriz wordwrap
            scrollvert fixed
            value <%= Host.Unit %>
            format
                datatype string
                constraints
                    mandatory on
                presentation
                    casetype upper
            itemlocation
                x 102
            next FTD
            previous REQUESTOR
        button(sid='SIGNATURE1')
            itemlocation
                x 617
                y 160
                width 338
                height 30
            type signature
            value(compute='signer=="" ? "FTD approval, click to sign" : signer') FTD approval, click to sign
            designer:design
                designer:designvalue(xmlns='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', key='signatureAppearance')
                    value SIGNATURE1
            signature SIGNATURE1_788528291
            signformat application/vnd.xfdl;engine="Generic RSA";hashalg="sha1"
            bgcolor #5CB85C
            fontcolor #FFFFFF
            border off
            justify center
            signer
            signoptions
                filter omit
                optiontype triggeritem
                optiontype coordinates
            custom:enablewhenpagevalid(xfdl:compute='toggle(global.focuseditem) == "1" \
      ? checkValidFormats("", "", "", "page", "") > "0" \
      ? set("active", "off") \
      : set("active", "on")\
      : ""')
        button(sid='SIGNATURE2')
            itemlocation
                x 102
                y 160
                width 338
                height 30
            type signature
            value(compute='signer=="" ? "Host Unit approval, click to sign" : signer') Host Unit approval, click to sign
            designer:design
                designer:designvalue(xmlns='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', key='signatureAppearance')
                    value SIGNATURE1
            signature SIGNATURE1_788528291
            signformat application/vnd.xfdl;engine="Generic RSA";hashalg="sha1"
            bgcolor #5CB85C
            fontcolor #FFFFFF
            border off
            justify center
            signer
            signitemrefs
                filter omit
                itemref PAGE1.SIGNATURE1
                itemref PAGE1.SIGNATURE2
                itemref SIGNATURE1_788528291
            signoptions
                filter omit
                optiontype triggeritem
                optiontype coordinates
            custom:enablewhenpagevalid(xfdl:compute='toggle(global.focuseditem) == "1" \
      ? checkValidFormats("", "", "", "page", "") > "0" \
      ? set("active", "off") \
      : set("active", "on")\
      : ""')
        line(sid='LINE1')
            itemlocation
                x 0
                y 111
                width 960
                height 1
            fontcolor #222222
        line(sid='LINE2')
            itemlocation
                x 0
                y 199
                width 960
                height 1
            fontcolor #222222
        label(sid='FIELD1_LABEL1')
            itemlocation
                x 26
                y 1
            value Month
            fontinfo
                fontname Calibri
                size 14
        field(sid='MONTH')
            scrollhoriz never
            scrollvert fixed
            value <%= Month %>
            fontinfo
                fontname Calibri
                size 14
            itemlocation
                width 189
            format
                datatype string
                presentation
                    casetype upper
                constraints
                    message Enter month and year, ex: MAR 2014
                    mandatory on
                    length
                        min 0
                        max 10
        label(sid='Requestor_Label')
            itemlocation
                x 487
                y 1
                width 121
            value Requestor
            format
                datatype string
                presentation
                    casetype upper
            justify right
        field(sid='REQUESTOR')
            scrollhoriz wordwrap
            scrollvert fixed
            value <%= Requestor.Name %>
            format
                datatype string
                constraints
                    mandatory on
                presentation
                    casetype upper
            itemlocation
                x 617
            next HOST
            previous MONTH
        data(sid='Header1')
            filename Header.jpg
            mimetype image/jpeg
            mimedata(encoding='base64')
                | /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsK
                | CwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQU
                | FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCABLA8ADASIA
                | AhEBAxEB/8QAHQABAAIDAAMBAAAAAAAAAAAAAAcIBAUGAQIDCf/EAEcQAAAGAQMCBAQCBwQIBAcA
                | AAABAgMEBQYHERITIQgUIjEVMkFRFmEJFyMzQnGBOFJykTc5YnR1grGzJDR2tENjc6GywcP/xAAU
                | AQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AoIAD
                | dYXiNln2W0+OU7JyLO1ltQ47ZfVa1Ekt/wAu+5n9iMBpQHS6kYDa6W55e4ldtk1aVEtcR7j8qjSf
                | ZaT+qVJ2UR/ZRDmgAAAAAB0um+A2uqed0WJUjZO2lxLREZJXypNR91q+yUp3UZ/ZJgOaAbrNMRss
                | Cy24xy4ZOPZ1Ut2HIbP6LQo0nt+Xbcj+xkNKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAs3+j0ml
                | TeIBm3j0jWTW1fAfdh0/VJqS8W2zy4pq9Cn0NmtSW1mklp57KSokisg6TTnO7PTDO6LK6ZzpWVRM
                | blsmfso0n3Sf+yot0n+SjAXX/ST4XQ6iV9JrVhrxSo61lSZAwbampESQj9z5hpWy2nCLdtSVkR9m
                | /uQoIP2jvcL038dulljf4bf/AAW7tYCIU+ZCIlOJPspMafHPYneCk+lStlJ48m1kR9/yq138Oube
                | HfKVU+W1htNuKPydkxuuJNSX8Tbm3+aT2UX1IBGIAAAL9/o2MKodO6+81qzJ4osdCzo8fY6anX5c
                | hf77y7Sd1uuGWzaUoIz7ufYxVLQjw65t4iMpTT4lWKdbbUXnLJ/dESEk/wCJ1zb/ACSW6j+hD9Va
                | LC9N/AlpZW5BmV/8au6qAuFAlzdkuKPupUaBHLcmualepSd1K5cnFmRdg/Pf9IXNTc+IB64kUjWM
                | 21hAYemU/VJ2SyWxk0uUafQl9bZIUptBqJCeG6lKNQgHA6aPkWc47Uy+flJ1jGivcD2VwW6lKtj+
                | h7GPvqNndnqdnV7ldy51bK3mOS3vsk1H2SX+yktkl+REMjSX/Srhn/GoX/fQAmfVOj0O0tz+4xWV
                | jGWTpFa4ltchm2aShe6Er7EaN/4hFUODic/Fc7nNUeRrkNSGjpZLCUuRYTKnT9Mxf940bEkyLuoT
                | j4mMz0wr9acuiXOnE62ukPJS9ZN5A4whxfSRsrpEgyTsW3bf6Dk9Hf7KWun+Oo/9yAg+gxm3yqac
                | Olqp1vL48vLwI633NvvxQRmMayrJlNOehWER+DMaPi5HktqbcQf2NKu5C2mKVlPivhPw+Q3qEvTe
                | RkdjKkT7SLBkvvS1NOLbQzzY9SEpSkj4mexnv+YjzxNZhieY4/gKqnLSzTJ66G9Bt7Y4MiMuQhKk
                | nHUrqpLkZEbhGe5n9TAa/wAW2H0uEamwIFFXM1kNdLDkKZYLZJuKSrkr+Zjh8S09vZFlQWU3HLI8
                | ekzo7a5zsJwoziFOJIy6m3Hvv9/qLI6vYrBzbxkae0tmhLtfKr63rtL9nEJSpZoP8lcdv6jicr13
                | zpHiZnsx8isIdbHyBVW1UpdPyaYyH+kTRsH6DLiXf0+/f3AcJ4ocZq8O14yynpYTVdWRXmUsxWC2
                | Q2RsNqPb+pmf9R8MJutJ4eOx2spxvI7G6SpfWkV1i2yyouR8dkqQZl6dv6jdeMb+0pm3/wBdj/2z
                | QhkBabWXB9EdG8jrqiZjuV2Lk2tZskuMWrSSSlw1EST3R7lxFdLGlctJdlY0VRY/h/zimo63G1O9
                | IlK/ZNLcSXE17GkvzMTj45v9J+M/+l4P/wCTo22jGaT8A8ImeXVUlkrNrII6I0h5sl+XWpDaeqgj
                | 7c0kZ8T+h7H9AFdJGH30S5RUP0lizbOJSpEByI4l9SVFukybMuR7l3LsPfI8JyLECZ+PUFpSdb90
                | djDcj9T78eaS3EhaXSNTNSs4t7ioyqVCtGq9arTJbGepookQttzW93Ukuxbce/bt23Ew37vxPwhZ
                | 8xMz1OozlZbwnWZqkyFHEWtxCFJS4+klKIyNXy9vUr7gK6WtbRNaXUk2PU3rGQOzHUSrKQ2RVrzR
                | cuKGVe5rLty/kY0sfD7+W9AZYpLJ56wR1IaERHFKkp/vNkResvzLcTXnH9ivTf8A9QTv/wCg7LWT
                | VjINO9EtHIWNySp5ljjxde1i+mZ0k8f2KHPdCDM+R8djM0p79gFV7ikscdsHYFrAlVk5rbqRpjKm
                | XUfzSoiMh1Op1LTRcriQ8XpL+rjuxWdod6zxlOPK91ISnfdCj24iV/FXYyMlwLRfIbJw5VzPx9aZ
                | U1z949wUniaj+p+pR/8AMY33iN/tWaf/AO70v/cIBXSDp9lNpMlw4eNXEuXD/wDMsMQHVrY7b+tJ
                | J3T2+40K0KQs0qI0qI9jSfYyMW+1i13y+m8VJY/SWS6Gmh3kZDkSv/ZpmrWbfUckGX701EfH1diS
                | lJEXbcZ+O4VTW/6QPJWZUJp6NBcetG4hpLi7IJlCy7fU+azX/MgFU39OMtitwnH8XumUTVEiKpyv
                | eST5++ze6fUfY/YaCRGdhyHWH2lsPtKNtxpxJpUhRHsaTI/YyFkvDzrrn2W+I+g+KZLYzI1vYGmV
                | XvPKXG47KVxS0rdKOO3pNJEZbCF9Xv8ASzmv/G53/fWAk3SXTnApGhOSZ/mUG3sV1ls3ARHq5aWT
                | NC0t7H6kn9VmPTUPSTB7PRdGpmnkq4YgR7Iqyxqrw21uNOGkjJSFoLuXqR9/m+mxkOy0TfxmN4P8
                | 5cy6LZTKQsjY6rNS4ht81cWeOxrLbbf3GL4nTRjmlWE1OBxGo+kloXxJiW2pS35M7YyWmUsz7LSX
                | sn27GX8GyQrpj2J3mWyHGKOmsLl9tPJbdfFcfUkvuZII9vYYM2FIrZTsWWw7FktKNDrDyDQtCi9y
                | Mj7kYuA7W0uG+HLTGKxqa5pl8aRIs5kmHAlPO2T3JJbKcj90k0R8eJn9S+w5LVGZhWs2r+ksOuyN
                | GUTJhQqfILNEN6GqUsnko6hk4kj5qQo+5b+xfkAr+1hGRv0SrtugtHKVPdVimG4cYvv+048f/uPh
                | Ixi5iXKKh+pnMWqzJKYLkZaX1Gr2ImzLfv8AyE7+ILXDNsc15v4VLfTaWqpJPw+DUxXDRDbZbSSe
                | JsfIpKttzJST3329iIhImq3+sOx3/fa3/tIAU9RTz3LU6xMKQqy6xx/Jk0o3urvtw4bcuW/bb3HU
                | 6Z0dU7qHHrMto7+xhN9ZEqso2N5/NKFdiQrbbiovVv8AQjElUhGrx0LIi3P8dvnsX++r3Hd6Lf6w
                | e+/4zdf9HwFVIdNOtnJnw6BKmIitqfeJhlSzZaT7rXxL0kX1M+w9rLHbamiQpdhWTYMWak1xXpMd
                | bbcgi23NtRlsoi3L2+5Cwvg6sSqL3VieqKxNTFxGe+cWUnk09xUhXBZfVJ7bGX2MfTwy5Faa5+Im
                | lkZ3av36axiTPiRZhmtlDiUlsltouySIySriki+QgEA22DZJQVjFjZ4/a11e+ZE1LlwnGmXP8K1J
                | Ij/oMCLS2E2BKnR4MmRCicfMSW2VKbZ5Hsnmoi2Tuftv7i29BqLhrBZmjL9dHc2rcgrZEdypk0tg
                | ltEhXdpxvkkybNJl24kW3b7EOX8N+USML8OmtF3DYjSJkNyrWwmW0TraHOsokOcT7GaDMlp37ckl
                | 7gK9XGH32PsRXrSksa1mV3juS4jjSXv8BqIuX9B5vMOv8Zjxn7ijsqlmUW7Dk6I4yl4v9g1EXL+g
                | tHpvrHlFj4Y9Scjup55LcUVpCkVcm6LzRw3nVpb6jfP2NPI1J+hH9PoNGzmt7qP4Ns8k5RaSr6XX
                | ZBEciyJ7huuNGs0EZJUruRbKV2+nIwFdcexO8y2Q4xR01hcvtp5Lbr4rj6kl9zJBHt7DClwJMGa5
                | Dkx3o8ttfTWw8g0LQr+6aT7kf5C37tbS4b4ctMYrGprmmXxpEizmSYcCU87ZPcklspyP3STRHx4m
                | f1L7CNPEdl+KZtlGCWFDkSMpuWa9mFc2aIT0U5LzSiJLqkupLdSiM+5b/KX5AIjiae5VYWsisi41
                | cSbKOklvQ2YDq3mkmW5GpBJ3SRl37jP030uvNUM5i4tVsGzPecNDrkhtwm423up3ikzSW/b29zIh
                | ZHxba75fhuv0+kxqyVj0SG5EfeVXfs3JzqmWlcn1F3Xsnigkn6eKfb3G9vpUjHv0i7LNXIer2bF2
                | MmY1FcU2iQlURKlJWSeyiNSSUZH/ABFv7gKh5tgV5p/cyYFzXSonTkOx2pD0dxtuR01cTU2aiLkn
                | 2P8Akoh5l6cZbApSuJOL3Ueo4ksp7te8hjj9+oaeO39R22f6mXC9c3ZuR2E/JqyhyN55muspS32k
                | tIlbqaQlZmSUqS2lOxdtiL7CYdY4l5rFS5XnWnmps7IcbcYOVbYjKluMyK9gi3UnocuC207Ge5EX
                | t2NXuAqMLHuaf6V4Lotp9leU1GQW1hkqJPUKtntsobNpzj7KQfuRl/kYrgLF64f2WNCP8Nl/3UgP
                | mnRPA9XcMubjSixuGL6kYVLm4zf8Fuusl7rYW2Wyv5HuZmZF6dy3gKsq5t1Nah10N+fMdPZuPGaU
                | 44v+SU9zFiPAUl2LrPOtlq6VVW0sp+wfX8iGvT8x+xd+/wDymPfTeyd088KOa5rjizr8lsr9ul+I
                | Rz2fhxSQhzi2v3QajUZGZfdP1ItggDIMSvMSkIYvKawpn1luhuwiuMKUX5Esi3+g9KHF7nK5ZxaS
                | pnXElJcjYgRlvrIvvsgjMWI0myO01b0J1cpcvsZN7HpK5FzWyrJ5TzsSQjn6UOKM1ES+JFt7fN9z
                | GZnmTWWjXha0uhYbMepnMqKTPtrOAs2n3loNGzZuJ9RF+027bfu9vvuFcJ+HX9Vcs1E2jsods/t0
                | oD8Rxt9zczIuLZlyPcyMvb6DDRTz3LU6xMKQqy6xx/Jk0o3urvtw4bcuW/bb3Er6GZfeZl4itO5d
                | /cTrqUxYR47ciwkKecS2SzUSeSjM9t1KP+o3lIRq8dCyItz/AB2+exf76vcBCMXHLabcLqY9XNkW
                | qVKQqC1HWp9Kk78iNsi33LY9+3bYfZrD756kduW6SxXUNnxcsExHDjoP7G5txL/MWj0W/wBYPff8
                | Zuv+j4+3hc1gyXUXXl+iuJnUxWZXTI34caLjXtMpQfFtDPykREW2/wAxkZ7me4CrDeGZA9QrvEUV
                | kulR89kmG4cZPfbu7txL/MYVTTz72e3BrIUmxmun+zjRGlOuL/klJbmLW+F3WDKNTNUb2murA3Mc
                | mY/MZTQtFwgR20pLghpn5UklPp+5l7mYwtAKyqo/DHl+SKy38DWlhdIqHcgaiPSXo8dLbbhNI6Rc
                | 0c1LPdRbF7F9gFY7zHrXGJ6oNzWTKmakuRxp0dbLhF9+KiI/cjGRHw+/lvQGWKSyeesEdSGhERxS
                | pKf7zZEXrL8y3E6a3Zlh97ofj9K3qErUHMKm2Wpmwfr5TDpQXG1cm1LeT6tlkj3Vvt2L2HU6yasZ
                | Bp3olo5CxuSVPMsceLr2sX0zOknj+xQ57oQZnyPjsZmlPfsAq7Mxe5r7sqaVUzo1waybKvejLRIN
                | SvZPTMuW5/bYdpqroJlekcllFpCclxVw2Zjk+HHeOMz1D2JtbikERLI9iMvuZCTvE3kdnMxLQ/L1
                | zn0ZO/RqW5bNLNEhS21oNC+ae/IjUo9/uZjJ8bWb5H+MqqkK/tPgsvHoD8iuKY55Z5zdSjWtvlxU
                | rklJ7mW+5EArCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAvf+jfvImbvWeEJuX8UzitQuyxzIIKUm4pkzLzEN9s/TIZ5
                | cXOkv25OGk0H6heiyvKjUSN+q/W/F4EOxsz6cQ1ma6u5UXsuE8r1NvF79FRpdR/Cay9Q/EjAs8vN
                | MsvrMnxqwcrLuud60eU2RGaT2MjIyPsojIzIyPsZGZD9M9L/ANIrpTrPpzJx/WyDGpp/TJEltUR2
                | RBmn9HGuBKW0sj77H3SexpV9grx4tv0deRaLpnZRhPmMnwlHJ11rjym1qPczcIv3jZd/2iS3IvmI
                | tuQeEj9HXkWtCYOUZt5jGMJXxdaa48Ztkj3I2yP922f99RbmXyke/ITTqF4pfjeBZBphpNlEvV13
                | I4bldUt+VkpuqxKy2cS64tskyWSa57OmaXEdufMvUGn3ilOkwLH9MNWcol6RO47DbrrZvyslV1Zp
                | QWzaWnEtmmM0bXDd0jU4vvw4F6gFoq28qNPI36r9EcXgTLKsPpyzRuiqplH7rmPJ9Tjx+/RSanV/
                | xGgvUKL/AKSC8iYQ9WYQq5fyvOLJCLHI8gnJSTiWSM/Lw2Gy9Mdnlyc6SPfi2ajWfqEyan/pFdKd
                | GNOY+P6KQY1zP6ZojNpiOx4MI/q47zJK3VmffYu6j3NSvv8AmZnud3mpuX2eT5JYOWd3ZO9aTKcI
                | iNR7ERERF2SRERERF2IiIgHPjbYlffhbK6a66Hmvhs1mZ0OfDqdNxKuPLY9t9tt9jGpAB2Or2oP6
                | 1dSLzK/IfC/ibqXfJ9brdPZCU7c+KeXy/YhscO1Z/CelOdYX8K81+KDiH57zHDy3Qc5/JwPny9vm
                | Tt+Yj0AErada4R8dwqVhGW421mWHvSPOMw1ylRn4b+23UZdSR8e2+6du+5+26t+d1DybD71uAxie
                | GrxZEc1m8+/aOTXpW/Hjy5JSlHHY/lL+IcWACVdSNfJ+a6pUmcVcD4BY1EeK0wjzHXLmx7KM+Cex
                | 7907e33HY3XibxOdkRZfD0pr4mdOuofkWrti48wTpGXN1uOpPBK1d9lHy4q2V6j7ivIAOz1j1F/W
                | 1qVd5b8P+FfEloX5Prdbp8W0I+finf5d/YvccYAAJG1z1f8A10ZPWXHwn4P5KrYrej5nr8+maz57
                | 8E7b8/bb6e4+dPqz8J0Tv9PvhXV+K2TNh8R8zt0uBJLh0+Hq34+/Ivf2EegAk7RDWVnSeTfxLOha
                | yXHMghHBsq5bxsKWjvspDhEZpMt1f5/Q9jHWRPETicHDMpwqLpu3CxG4bbUlhi1cOYmShXNLzj60
                | K5dyT6SSkiJP13PeBQASFeas/GdFcb0/+FdH4NYPzviPmOXW6nL09Ph6duXvyP29g1M1Z/WJi2C0
                | 3wr4f+F634f1vMdXzPy+vjwLh7e26v5iPQASFqPqz+sHDsDofhXkPwvAXB8x5jqea5Gk+XHgXD5f
                | bdXuNpqNrp+sDVbH80+CeQ+Etwm/Jeb6nV8urlvz4Fx5f4T2/MRSADv831V/GWs8nPvhfk+tYsz/
                | AIf5jntw4ejqcC9+Hvx+vsOj/W7lGa+JAs6wyrXCyWdLS5ErEOeY5H0iQpsz2RzJSSVv2Lsf9RDo
                | +seQ7EfQ8w6tl5B8kuNqNKkn+RkAvLpJd5TL1Tj2z+kcHS6sjuOTsiyJ6A7HUppKVKUhK3SIkJWr
                | julHc/vtuKYZxdNZLml/bskZM2FhIlIJRbHxW4pZf9R7W2eZLfQEwbPIraxhJ24xpc511sv+VSjI
                | aIBI1Nq98I0NyDTr4T1fitk1Y/EvM8elw4ejpcPVvw9+Re/sM7ANcSxnTPJMCvqP8TY5a7PRmjl+
                | Xcr5Jf8AxmlcF/kfHb6fmojisAEuYTrnAh4C3g+cYujMcZivqk1/GYqJLgLV83TdSR7oPcz4GXuf
                | uOay3NsfeuqefhGLuYYusWTyXVWTkx511KiUhw1LIiSaePskthxAALBZX4mMYy2aeTSNLa39Yi20
                | pXdOTnFxeqlJJS/5Qy4KUW3Ylmouxb8hufF7lMzCPF25kFfwObWeQlsk4W6VKQ2hWx/ke2xisu+w
                | yrO1m3UxUqwmSJ8pZESn5TqnFmRe3qV3AWIPxY43S56nMsa0wiVWRy5ZSrSc/ZLkLeJSuTyGSUji
                | ybncjWSTPZSu3ccThWv34P8AEHP1P+Beb81Mmy/hXnOHHzHP09Xge/Hqe/Dvt9BEQAJF0q1e/Vir
                | Mz+E/EvxHSSafbzPS8v1tv2nyK57bfL23+5DmsDzi303y6tySjfKPZwHOo2pRbpUW2ykqL6pURmR
                | l9jHPgAmu/1e0wyCRMtpGkJIvZfJbxM37zcMnle7qWko3L1d+HLiOWw7Vn8J6U51hfwrzX4oOIfn
                | vMcPLdBzn8nA+fL2+ZO35iPQASFjGrP4c0dzLA/hXmPxHIiv+f8AMcfL9FxK9unwPly47fMW35hR
                | atfBNFsmwD4V1vjU6PN+I+Y49HpGk+PT4erfj78i9xHoAJcwnXOBDwFvB84xdGY4zFfVJr+MxUSX
                | AWr5um6kj3Qe5nwMvc/cctm2V4ra2VW7iuHni8aH3dS7ZOTHJR8iMlKUoiJPt7JLbuOMAB3+teqv
                | 64tUbLMfhfwjznQ/8F5jrcOm0hv5+Cd9+G/y/UdBm3iJm5Nr9H1SrqluqmMOx3W692R10H0m0oNJ
                | r4o3JREf0LbcRAACVNRtT8MzHP4GUVuBqrTcmLnXNfJtFPsz1qWlSkp9CTaIz6m+39/sRbDfRtfc
                | TwzH8hYwHT5WNXV9CXXSbCZcOTSYjr+dDSFIT77F6lGZlt9RBoAAniB4hMQnaY4lh+W6aLyZGOJe
                | THlIyB2HyN1fJR8ENfyLuo/YQOACX8q8QhyMNm4lhWK12BY9YH/49uE4uRJmJL2Q4+56jSX2Lb3P
                | 6GZDVaVayngNNeY3cUjOU4feEg51Q8+phROJ7odadTuaFke3fY9+JfYhGoAJgybXKpjYDZYZgOJ/
                | hGotnUOWkqRPVMlzSQe6EGs0pJCC3P0kR7/1Vv74Hr7BrtPCwPOMVbzTFmHzkwUlMVFkwHD35dNx
                | JH6T3P09vmPuZdhDgAJAnak1FRn2P5JhGLIxVNM40+3FenOTeu6hw183FqIvctkmRERbEJTPxY43
                | S56nMsa0wiVWRy5ZSrSc/ZLkLeJSuTyGSUjiybncjWSTPZSu3cVsABLuFa/fg/xBz9T/AIF5vzUy
                | bL+Fec4cfMc/T1eB78ep78O+30Go0Q1e/U1qS3lnwn4xwZfa8n5nob9RJp358Fe2/wBhHIAJC0O1
                | a/Uxmb1/8K+MdSC/C8v5jobdQiLly4K9tvbYffSbWh3TivuqKypo+U4hdpSmwpZTqmiWpPyuNuJ3
                | NtZHt6iI/YvqRGUbAAkHPcuwG4pkQsUwJ7HZfXS6uyl3LkxxSNlbtEg0pQktzLv3P0jzqZqz+sTF
                | sFpvhXw/8L1vw/reY6vmfl9fHgXD29t1fzEegAkLUfVn9YOHYHQ/CvIfheAuD5jzHU81yNJ8uPAu
                | Hy+26vcdDqdrlR6sYVVM3OIrRm9bBYrWsgj2CktLZbVvutjhsajLmXze69/oSRDgAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAALM+BPENGsv1NKPqvZrZkEpHwmtl7NV8x3f5Xnd/f22bPilX1UfynWYed9gH6iak5HReHb
                | x40jGlmm53t3a0a2LymptmuRvOJUhbaduDKkpaSpR+lBpV34/MGm+RUXiJ8eN2xqnpudFd1NGhik
                | prrZ3iplxSluOp24PKUl1Skn6kElPbl8wrb4NfG8egOTy2ssqE39VbG01LuiTztY7aEpQ2knVd3W
                | UpSWzRmW38J/Q3jK8bx6/wCTxGsTqEUFTUqdaiXSk8LWS2tKkLSbqe7TKkqPdojPf+I/oQaXx14h
                | o1iGppx9KLNbz5qX8WrYmztfDd3+Vl3f3992y5JT9FF8pVmHnfceAAbrCseXl2ZUVG3ua7OcxDLb
                | /wCY4lH/AOxpR1OmOZtae5zWZE9AXZlANxaI7b/RVzNtSUKJfBW3FRkr5T+XYBJFrHjZlrdX1cUs
                | bZxqfkXJpimhRkLjREu/xrbbJexNGZ7GrY+J/YY8vSa71NyyBcTPPR5+bzHZ0To1y32GUvPqS2p9
                | 0lETZGrf2JXFGyjLuRDicfzSmxG6XZVFNOJ46+ZDQUyxQ703X2FspeI0sI+QnDPj9TIu5DxfZxCy
                | eqp0z6+Wm1rK9Fa3JjTEoacQ3y6SlNm2ZkaSMiPZXqJJfKfuHleCQaOrppmS2z9Wq3Qb8eNDhlJd
                | THJxTfWcI3GySSlIXxIjMzJJn2I08uhrtMKW7o8BhQp0wsjym2dYQ67GT0ERus2whR/tNy2X1lGe
                | 3fbb08dz5y9zavymlomLSsknY1EEq5uVFlpQh5lKlqb5IU2rZSee25HsZEXYj3M9vW6sxK13EZia
                | Z1VhjtXIrWTKYSWVKWclTbxJ6ZmlSXJPMy5d+n9OXpDEk6cVkausbj8R+YoIDrcNc1iEZrflr5n0
                | WUKWRLIkI5qWakkRfczTyy2dHkuzCcXdoj0jmPqyJqwdjHyNknDa4KbJR8Vm8Rt9lGXse57jR1GZ
                | xG8Jexe1gPy4PxArJh2JJSy4270+mtJ8kLJSVJJP0IyNO/fuR7W51bctqu8gprERWJtfDqIaG3j4
                | w4cd1LvT7p3Wpa0IWpW5erke3fYg2FRpVGkZJhLlbdJk1d209NJ+wrySuOmMpzrdVjqKSpJE0o/n
                | 2UW++3chp52G11cmqmZNbLp37tvz7cStr0v+XjrUfBay6jZIJWxqShPI+Gx9tyI8mNqwiGiElqoN
                | PkcZkY9GPzX7tb5um9I+T+LzD3o/2i9XYa7Js2r8vgVKrGskptq6tarCkRpaUNOoaTwZUpCmzMlJ
                | TxSeyvVx/hAaXEaVeQ5PWVrcSRP68hCVsRdicWjfdexn2L0kZ7n2Lbc+wl3JKTFX437cqwqOdlbU
                | OFb0zZJRWwE8+s285tyWs0LZUnlz/dLUSj3PeL9P8xPBsj+JeV86y5ElQXmSc6alNPsLZXxXsfFR
                | JcMyPY+5F2P2GVMzSG7i9fjEWC/HpGp6rGWpUhKpEl00kgj5cOKCSgjJJcT7rUZme5EQSBk+Espx
                | TUiVNqYFWxTzIrdGmIlPUMnJBoL9onc3m1NEpXNZq5GkjSfzDJsMXp6OitmHaqG4VZjKPP1fTSuz
                | i2S+KDfdX7oQh5aTNJK9KTQhSCUpQjU88VXVtbWU0TycCJORZuFIWTq5clHZCnDIklxSnckoL25r
                | 7nyG1udU48iTmc2qq3oU/KzWmY/JlE8TLS3ifdbaIkJ+ZaE+pRmfEjT9TUA4ujppmRW8SsgNG/Ml
                | uJaaRv7mf3P6EXuZ/Qu4lDUrB40DTjF5NdTPwHo1pLqHpEhlTTs8+DLjT5krbYlGp4kl/ClCS7nu
                | Zx1TZAilqbZhmLvYzm0x0zTc/cMHv1UpTt8y/Snlv8vNOx8+3T6b2yLmtVgkiIh5u4uIMxqS48aS
                | YW0TqVJ4EW6+oh7jsSk90pAZt3pFBoq/NDfv3nLHFHmok1lqvLouSFLU2bbbpukZklaFEZ8CPZJq
                | Ij2GZP0FWxkVnTQ7lVnLpoy5dwmJAWs4iCJoktpIlftHVOO9PgWxFtupRerjvNQckq7yscyGdAyS
                | rW3fMPFRXFg2tqyRs4bqkkmO2pCkElCOaupsTpFv9+Gj6oqkXObybSE5Lh5aa1zG2ZHTdaWchMhC
                | 0LNJluladj3T3Sai7djINu1oFbySiymfPFWuVjto8b9epEtlDb3RNHQJR8lqWaOOytjJZGZp2Vt8
                | 0aIPFKgLlWLtVWSqiZbKkWUFTLzCY/NJoW1yM/UtKCSZGe/UL67pGix/OIVEzf1pV8t+kuYaIr7S
                | piSfQpDqHUOIc6fHstBek090mot9/UXwrcyiUlXk8KDXv73MFuAh+TLJa46CkNPOH2QRK5dJKfps
                | Rn7gOqq9HqO1nYa23lkhDGWL8vA51P7Zt/rmx+1bJ4yS3zItlpWpR9/R2MYlJonYT6ypny1TijWs
                | x2LEXWVyphGltzpreWZKSSUc9yL3UfFfYti3xqzVZFXkeGWjdQZt4xX+Ujxyk7c3uTzpP8uHp/bP
                | dTjsfy7cvqNfJzeDcYrQVVrXS3H6Rp2NGkRJiWiWyt5b3FaVNq7pW656iP2Mi27bgNo9pVDoK5Uv
                | Jr5dZtdyqMmIMLzbi1xyb6rqSNbZGgjdSXvv9iP6ZszTCoxOo1IRfzn3LLHrNqliOwWiWyuSa3T5
                | epaTMjRGdLbb08iPufYaBjP46SwZl+pORCxx1T0hg5O3n1qkm6s9+H7PdHTb9lfJv9di97TUVu9x
                | e7rZ8F1c2xulXRS2ZBJLqKSpJpWk0HyIuRmRkZe6vv2DiQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAB7OOKdUalqNav7yj3P8h6gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                | AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/9k=
        label(sid='CAFMCL_Label')
            itemlocation
                x 7
                y 214
                width 42
            value
                | CAF
                | MCL
            fontinfo
                fontname Calibri
                size 10
                effect bold
        line(sid='LINE3')
            itemlocation
                x 0
                y 265
                width 960
                height 1
            fontcolor #222222
        label(sid='PDS_Label')
            itemlocation
                x 58
                y 235
                width 42
            value PDS
            fontinfo
                fontname Calibri
                size 10
                effect bold
        label(sid='CourseNumber_Label')
            itemlocation
                x 111
                y 214
                width 180
            value
                | Course Number
                | Course Title
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify left
        label(sid='Backlog_label')
            itemlocation
                x 303
                y 235
                width 65
            value Backlog
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify left
        label(sid='Month1_label')
            itemlocation
                x 368
                y 235
                width 59
            value <%= History1 %>
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='Mont2_Label')
            itemlocation
                x 426
                y 235
                width 73
            value <%= History2 %>
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='Month3_Label')
            itemlocation
                x 498
                y 235
                width 59
            value <%= History3 %>
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='CourseNotes_Label')
            itemlocation
                x 574
                y 235
                width 380
            value Course Notes
            fontinfo
                fontname Calibri
                size 10
                effect bold
        label(sid='History_Label')
            itemlocation
                x 368
                y 204
                width 189
            value Seats Requested / Built
            justify center
            fontinfo
                fontname Calibri
                size 10
                effect bold

        // COURSES