include ../__mixins

div
    //-
        _.keys(data[0])
        ["__metadata", "Notes", "UnitId", "DateNeeded", "HostId", "Validated", "Approved", "Funded", "TDY", "Id", "Requestor", "Requirements"]
        _.keys(data[0].Requirements[972])
        ["course", "priority", "notes", "seatCount"]


.wrapped

    +userInstructions('requirements', true)

    +grouping()

        .well(ng-repeat='row in group', ng-class='{archived:row.Archived, updated:row.updated}', id='{{row.Id}}wr')

            #requirementsProgress.wizard
                ul.steps
                    li(ng-repeat='step in row.steps', class='{{step.status}}')
                        +icon('check-square-o')
                        +icon('wait', '0 0 36 32')
                        span.text {{step.text}}
                        span.chevron

            .h4
                +icon('flag')

                .btnFake.white(class='btn-{{row.TDY ? "warning" : "info"}}')
                    span.bigLetter {{row.totalSeats}}
                    span(style='font-size:1.25em;position:relative;top:.15em;') {{row.FTD.LongName}}&nbsp;
                    span(style='font-size:1.3em;position:relative;top:.25em;')
                        +icon('plane')

                | &nbsp;&nbsp;

                .btnFake.btn-primary.white(ng-show='row.TDY && row.Funded')
                    +icon('info')
                    i UNIT FUNDED TDY COURSE

                .pull-right(style='margin-top :-.5em!important',
                            hover='(optional) Use this button to create a custom 898 for this request for your refrence.  This is not needed for FTSS to function.')
                    .btn.btn-muted(style='font-size:1.5em', ng-click='edit(true, row)'): +icon('printer')

            hr.rollup

            .rollup

                blockquote
                    p {{row.Notes}}
                    footer
                        a(href='mailto:{{row.CreatedBy.WorkEMail}}?{{row.email}}') {{row.CreatedBy.Name}}

                table.table.table-hover.table-center
                    thead

                        tr

                            th.w5
                            th.w5.left PDS
                            th.left Course
                            th.w10 {{row.History1}}
                            th.w10 {{row.History2}}
                            th.w10 {{row.History3}}
                            th.w10
                            th.w10 Min/Max
                            th.w5 Seats

                    tbody

                        tr(ng-repeat='req in row.Requirements', ng-class='{priority:req.priority}')

                            td
                                +icon('asterisk')
                                span.btn-muted(title='{{req.course.Title}}', hover='{{req.hover}}', right)
                                    +icon('info')

                            td.left
                                b {{req.course.PDS}}

                            td.left
                                b {{req.course.Number}} ({{req.course.MDS}})

                            td(class="{{req.history1.style}}") {{req.history1.text}}

                            td(class="{{req.history2.style}}") {{req.history2.text}}

                            td(class="{{req.history3.style}}") {{req.history3.text}}

                            td

                            td {{req.course.Min}} / {{req.course.Max}}

                            td.bold(style='font-size:1.25em') {{req.seatCount}}

            .requestActions
                hr
                .pull-right.invert
                    .btn.btn-success.btn-labeled.btn-muted(ng-click='approve()')
                        span.btn-label.invert
                            +icon('approve')
                        | Approve
                    .btn.btn-danger.btn-labeled.btn-muted(ng-click='deny()')
                        span.btn-label.invert
                            +icon('deny')
                        | Deny
                .clearfix
