page-help-message

.add-button.btn.btn-success(ng-click='edit(true)')
    icon add
    |&nbsp;Add Instructor

div(class='{{wellCollapse}}')

    div(ng-repeat='(header, group) in groups')

        h3(style='border-bottom: 1px solid; margin-top:5px; margin-bottom:15px')
            | {{header}}
            span.pull-right {{group.length}}

        .rollupContainer

            table.table.table-striped.table-expanded.table-hover.rollup(fixed-header)
                thead
                    tr
                        th.w10
                        th.w50 Instructor
                        th.w15 Unit
                        th.w10 AFSC
                        th.w10 Actions
                tbody
                    tr.middle(ng-repeat='row in group', ng-class='{archived:row.Archived}', ng-dblclick='edit(false)', ng-if='!row.Archived || showArchive')

                        td.cleanPhoto(class='{{running(row)}}')
                            photo(size='75px', data='row', ng-if='!row.Archived')
                        td
                            updated row
                            b
                                span(ng-if='row.Archived')
                                    | ***ARCHIVED INSTRUCTOR***&nbsp;
                                | {{row.InstructorName}}
                        td
                            b {{row.Unit.LongName}}
                        td
                            b {{row.AFSC}}
                        td.invert()
                            actions(view, edit, archive, label='instructor')