include ../__mixins

- var columns = {Instructor:50, Unit:15, AFSC:10}
+tableHeader('Insctructor', columns)

    td.cleanPhoto(class='{{running(row)}}')
        photo(size='75px', data='row')

    td
        b
            +icon('flag')
            span.archiveOnly
                | ***ARCHIVED INSTRUCTOR***&nbsp;
            | {{row.InstructorName}}

    td
        b {{row.Unit.LongName}}

    td
        b {{row.AFSC}}

    td: +actions(true, true, true, 'instructor')