include ../__mixins

form.form-horizontal(name='modal')

    traverse

    +modalHeader('New FTD Instructor', "{{data.InstructorName | firstName}}'s Profile")

    .modal-body(ng-file-drop='onFileSelect($files)')

        .alert.alert-warning.pageMessage.
            Here you can add or update an instructor's profile.  Only the instructor's name and unit
            are required.  To add or change a photo, drag a new one into the widow and press "Submit".

        // This will only be shown if we are adding a student
        people-picker(field='Instructor', filter='Instructors')

        .form-horizontal

            div(ng-hide='createData')
                +formGroupText('Name', 'data.InstructorName', 'text', true, 'You must enter a name.', 'instructors-name')

            +formGroupIcon('Email', 'data.InstructorEmail', 'email', false, 'Make sure you enter a valid email address.', 'instructors-email', 'envelope2')

        br

        .row

            .col-lg-4.drag-target(style='margin-left:8%')
                photo.img-rounded(size='150px', shape='rectangle', data='data', watch, force)
                small: i Add or update by drag & drop

            .col-lg-6

                h4(explain='instructors-unit', right) Unit
                select(selectize='Units', bind='UnitId', required)
                .helper You must choose a FTD.

                br

                h4(explain='instructors-afsc', right) AFSC
                select(selectize='AFSC', bind='AFSC')

    +modalFooter()
