form.form-horizontal(name='modal')

    traverse

    .modal-header
        h4
            icon instructor
            span(ng-if='createData') Add Instructor
            input(ng-if='!createData', ng-model='data.InstructorName')

    .modal-body(ng-file-drop='onFileSelect($files)')

        // This will only be shown if we are adding a student
        people-picker(field='Instructor', filter='Instructors')

        .input-group
            .input-group-addon
                icon envelope
            input.form-control(ng-model='data.InstructorEmail', type='email')

        br

        .row

            .col-lg-4(style='margin-left:5%')
                photo.img-rounded(size='150px', shape='rectangle', data='data', watch, force)
                small: i Add or update by drag & drop

            .col-lg-7

                .row.input-group.disabled(ng-if='data.Instructor.WorkEMail')
                    .input-group-addon.w17
                        icon envelope
                    input.form-control(disabled, ng-model='data.Instructor.WorkEMail')

                .row.input-group.disabled(ng-if='data.Instructor.WorkPhone')
                    .input-group-addon.w17
                        icon phone
                    input.form-control(disabled, ng-model='data.Instructor.WorkPhone')

                .row.input-group
                    .input-group-addon.w17 Unit
                    .input-group-selectize(explain='instructors-edit-unit', right)
                        select(selectize='Units', bind='UnitId')

                .row.input-group
                    .input-group-addon AFSC
                    .input-group-selectize(explain='instructors-edit-afsc', right)
                        select(selectize='AFSC', bind='AFSC')

    ng-include(src='"/partials/modal-footer.html"')
