form.form-horizontal(name='modal')

    .modal-header
        h4(hover='instructors-edit-helpdesk-message', show='right')
            icon instructor
            | {{data.Name}}

    .modal-body

        .row

            .col-lg-4(style='margin-left:5%')
                photo.img-rounded(size='150px', shape='rectangle', data='data')

            .col-lg-7

                .input-group.disabled
                    .input-group-addon.w17
                        icon envelope
                    input.form-control(disabled, ng-model='data.Instructor.WorkEMail')

                br

                .input-group.disabled
                    .input-group-addon.w17
                        icon phone
                    input.form-control(disabled, ng-model='data.Instructor.WorkPhone')

                br

                .input-group
                    .input-group-addon.w17 Unit
                    .input-group-selectize(explain='instructors-edit-unit', show='right')
                        select(selectize='Units')

                br

                .input-group
                    .input-group-addon AFSC
                    .input-group-selectize(explain='instructors-edit-afsc', show='right')
                        select(selectize='AFSC')


        .row.alert.alert-danger(ng-if='!data.UnitId')
            icon alert
            | You must choose {{firstName}}'s&nbsp;
            b assigned unit
            | .

        .row.alert.alert-danger(ng-if='error')
            icon alert
            | {{error}}

    ng-include(src='"/partials/modal-footer.html"')
