form.form-horizontal(name='modal')

    .modal-header
        h4(hover='<div>[icon=info]</div>Rank, unit and contact info are pulled from AFNET; contact the ESD to make changes', show='right')
            icon(path='instructor')
            | {{data.Name}}

    .modal-body

        .row

            .col-lg-4(style='margin-left:5%')
                photo.img-rounded(size='150px', shape='rectangle', data='data')

            .col-lg-7

                .input-group.disabled
                    .input-group-addon.w17
                        icon envelope
                    input.form-control(disabled, ng-model='data.Instructor.WorkEMail')

                br

                .input-group.disabled
                    .input-group-addon.w17
                        icon phone
                    input.form-control(disabled, ng-model='data.Instructor.WorkPhone')

                br

                .input-group
                    .input-group-addon.w17 Unit
                    .input-group-selectize(explain='Choose {{data.firstName}}&#39;s unit from the list.', show='right')
                        select(selectize='selectizeUnits')

                br

                .input-group
                    .input-group-addon AFSC
                    .input-group-selectize(explain='Type in {{data.firstName}}&#39;s AFSC or choose one from the list.', show='right')
                        select(selectize='selectizeAFSC')


        .row.alert.alert-danger(ng-if='!data.UnitId')
            icon(path='alert')
            | You must choose {{firstName}}'s&nbsp;
            b assigned unit
            | .

        .row.alert.alert-danger(ng-if='error')
            icon(path='alert')
            | {{error}}

    ng-include(src='"/partials/modal-footer.html"')
