<div class="clearfix" ng-show="groupBy">

    <div class="btn-group">
        <button class="btn text">GROUP BY:</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'MDS'">MDS</button>
        <button type="button" class="btn btn-link" ng-model="groupBy" btn-radio="'AFSC'">AFSC</button>
    </div>

    <div class="btn-group">
        <button class="btn text">SORT BY:</button>
        <button type="button" class="btn btn-link" sorter="PDS" text="Course" default></button>
        <button type="button" class="btn btn-link" sorter="MDS"></button>
        <button type="button" class="btn btn-link" sorter="AFSC"></button>
        <button type="button" class="btn btn-link" sorter="Hours" text="Length"></button>
    </div>

    <div class="pull-right">
        <input type="search" class="search" ng-model="searchText.$"/>
    </div>

</div>

<div class="{{wellCollapse}}">

    <div ng-repeat="(header, group) in groups" ng-show="filtered.length">

        <h3 style="border-bottom: 1px solid; margin-top:20px; margin-bottom:15px">{{header}} <span class="pull-right">{{filtered.length}}<span ng-hide="filtered.length == group.length">  of {{group.length}}</span></span>
        </h3>

        <table class="table table-striped table-expanded table-hover group{{groupBy}} rollup">
            <thead>
            <th class="sorter-PDS">Course</th>
            <th class="MDS sorter-MDS">MDS</th>
            <th class="AFSC sorter-AFSC">AFSC</th>
            <th class="HOURS sorter-Hours">Length</th>
            <th class="ACTIONS">Actions</th>
            </thead>
            <tbody>

            <tr ng-repeat="r in filtered = (group | search:searchText.$)">
                <td style="text-transform: uppercase">
                    <b>{{r.PDS}}</b> - {{r.Number}}<br><span class="peek">{{r.Title}}</span>
                </td>
                <td class="MDS"><b>{{r.MDS}}</b></td>
                <td class="AFSC"><b>{{r.AFSC}}</b></td>
                <td>
                    Days: <b>{{r.Days}}</b><br><span class="peek">Hours: <b>{{r.Hours}}</b></span>
                </td>
                <td class="invert" ng-once>
                    <button type="button"
                            class="btn btn-sm btn-info btn-muted"
                            ng-click="view(r.Id)">
                        <icon path="view"></icon>
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-warning btn-muted"
                            ng-click="edit(r.Id)">
                        <icon path="edit"></icon>
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-danger btn-muted"
                            ng-click="archive(r.Id)">
                        <icon path="delete"></icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</div>